{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load crispy_forms_filters %}

{% load static %}

{% block head_title %}{% trans "Add Card" %} || Rabah360 {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static "css/checkout.css" %}"/>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        var stripePublicKey = '{{ stripe_public_key }}';
        var clientSecretKey = '{{ client_secret }}';
    </script>
    <script src="{% static "js/checkout.js" %}" defer></script>
{% endblock %}


{% block title %}

{% endblock %}



{% block content %}

    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt=""
                     onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <form id="payment-form" method="POST" action="{% url "rabah_subscriptions:billing_card" subscription_id %}">
                {% csrf_token %}
                <div>
                    <h1>Add Card</h1>
                    <p>add new card for processing payment</p>
                </div>


                <div class="form-container">
                    <label>Card</label>
                    <div id="card-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                    {{ billing_address_form|crispy }}

                    <div class="form-container">
                        <input type="submit" value="send message" id="submit-btn">
                    </div>
                </div>
                <div id="loader">
                    <div class="loader"></div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}


{% block script %}

    <!-- JavaScript code -->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const promoCodeInput = document.getElementById('id_coupon');
            const promoCodeMessage = document.getElementById('coupon_message');

            promoCodeInput.addEventListener('keyup', () => {
                const promoCode = promoCodeInput.value;

                if (promoCode) {
                    fetch(`{% url "rabah_subscriptions:promo_code_validate"  %}?coupon=${promoCode}`)
                        .then(response => response.json())
                        .then(data => {
                            if (data.error) {
                                promoCodeMessage.textContent = `Error: ${data.error}`;
                                promoCodeMessage.style.color = 'red';
                            } else {
                                promoCodeMessage.textContent = `Success: Coupon is valid. Discount: ${data.data.discount_percentage}%, Duration: ${data.data.duration}`;
                                promoCodeMessage.style.color = 'green';
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            promoCodeMessage.textContent = 'An error occurred while validating the promo code.';
                            promoCodeMessage.style.color = 'red';
                        });
                } else {
                    promoCodeMessage.textContent = 'Please enter a promo code.';
                    promoCodeMessage.style.color = 'red';
                }
            });
        });
    </script>

{% endblock %}