{% extends "account/base.html" %}
{% load socialaccount %}
{% load crispy_forms_filters %}

{% block extra_head %}
    <style>
        input {
            height: 3rem; /* You can adjust this value to set the desired height */
        }
    </style>
{% endblock %}

{% load static %}
{% block content %}


    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">

            </div>
            <form method="POST" action=".">
                {% csrf_token %}

                <p><b class="f">Member Change Password</b><br>
                </p>
                <div class="form-container">
                    <input type="hidden" name="member_id" value="{{ request.GET.member_id }}">
                    {{ form|crispy }}
                    <div class="form-container">
                        <input type="submit" value=" Member Change Password" id="submit-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}