{% extends "account/base.html" %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load socialaccount %}
{% load crispy_forms_filters %}

{% block extra_head %}
    <style>
        input {
            height: 3rem; /* You can adjust this value to set the desired height */
        }

    </style>
{% endblock %}

{% block head_title %}{% trans "Login" %} || Rabah360 {% endblock %}

{% load static %}
{% block content %}
    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt=""
                     onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div>
                    <h1>Login</h1>
                    <p>New user? <a id="myLink" href="{% url 'account_signup' %}"><span>Create account</span></a></p>
                </div>


                <div class="form-container">
                    {{ form|crispy }}

                    <a id="myLink" href="{% url 'account_reset_password' %}" class="fg">Forgot password?</a>
                    <div class="form-container">
                        <input type="submit" value="Login" id="submit-btn">
                    </div>
                </div>
                <div id="loader">
                    <div class="loader"></div>
                </div>
            </form>
        </div>

    </div>
{% endblock %}


{% block script %}
    <script>
        deleteCookie("organisation_id");
    </script>

    <script>


        // Function to send the timezone offset to the server
        function sendTimezoneOffset() {
            let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log(timezone);
            fetch('{% url "user:set_timezone" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token if using Django
                },
                body: JSON.stringify({timezone_offset: timezone})
            }).then(response => {
                if (response.ok) {
                    console.log('Timezone offset sent successfully');
                } else {
                    console.error('Failed to send timezone offset');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }

        // Get the timezone offset and send it to the server when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            sendTimezoneOffset();
        });
    </script>

{% endblock %}
