{% load static %}

<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PropertyManagement</title>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>

    <link rel="stylesheet" href="{% static "css/plugin.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">


    <style>
        body {
            font-family: 'Cairo', sans-serif;
            font-weight: normal;
        }

        b, strong {
            font-weight: normal;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            font-family: "Cairo", sans-serif;
        }

        .bold {
            font-weight: normal;
        }


    </style>
    {% block css %}

    {% endblock %}
</head>

<body class=" side-menu  ">
<div class="mobile-search">

</div>

<main class="main-content">
    <div class="container-fluid ">


        {% if messages %}
            <!-- Dismiss All Button -->


            {% for message in messages %}
                {% if message.tags == "info" or message.tags == 'success' %}

                    <div class="alert
                                    alert-success text-white
                                    p-2 alert-dismissible fade show text-center text-capitalize shadow-sm sentence "
                         role="alert"
                         style="background-color: #1B3F7F;">
                        {{ message }}

                        <button type="button" class="btn-close text-capitalize dismiss-all-button"
                                data-bs-dismiss="alert"
                                aria-label="Close">
                            <img src="{% static "img/svg/x.svg" %}" alt="x" class="svg" aria-hidden="true"
                                 style="color: white">
                        </button>
                    </div>
                {% else %}
                    <div class="alert
                                    alert-success text-white
                                    p-2 alert-dismissible fade show text-center text-capitalize shadow-sm sentence"
                         role="alert"
                         style="background-color: #9D2154">
                        {{ message }}

                        <button type="button" class="btn-close text-capitalize dismiss-all-button"
                                data-bs-dismiss="alert"
                                aria-label="Close">
                            <img src="{% static "img/svg/x.svg" %}" alt="x" class="svg" aria-hidden="true">
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% block content %}

        {% endblock %}
    </div>

</main>
<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>
{% block script %}

{% endblock %}
<script src="{% static "js/plugins.min.js" %}"></script>
<script src="{% static "js/script.min.js" %}"></script>
</body>

</html>


