{% extends "account/base.html" %}
{% load socialaccount %}
{% load crispy_forms_filters %}

{% block extra_head %}
    <style>
        input {
            height: 3rem; /* You can adjust this value to set the desired height */
        }

    </style>
{% endblock %}

{% load static %}
{% block content %}
    <div class="card border-0">
        <div class="card-header">
            <div class="edit-profile__title">
                <h6>Login to Get Started </h6>
            </div>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="edit-profile__body">
                    {{ form|crispy }}

                    <div class="admin-condition">
                        <a href="{% url 'account_reset_password' %}">forget password?</a>
                    </div>
                    <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center">
                        <button class="btn btn-primary btn-default w-100 btn-squared text-capitalize lh-normal px-50 signIn-createBtn ">
                            sign in
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="px-20">
            <p class="social-connector social-connector__admin text-center">
                <span>Or</span>
            </p>
            <div class="button-group d-flex align-items-center justify-content-center">
                <ul class="admin-socialBtn">
                    <li>
                        <button class=" radius-md wh-48 content-center facebook">
                            <a href="{% provider_login_url 'google' %}" class=" text-dark google">
                                <img class="svg" src="{% static "img/google.png" %}" alt="img"/>
                            </a>
                        </button>
                    </li>


                </ul>
            </div>
        </div>
        <div class="admin-topbar">
            <p class="mb-0">
                Don't have an account?
                <a href="{% url "account_signup" %}" class="color-primary">
                    Sign up
                </a>
            </p>
        </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        deleteCookie("organisation_id");
    </script>

    <script>


        // Function to send the timezone offset to the server
        function sendTimezoneOffset() {
            let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log(timezone);
            fetch('{% url "user:set_timezone" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token if using Django
                },
                body: JSON.stringify({timezone_offset: timezone})
            }).then(response => {
                if (response.ok) {
                    console.log('Timezone offset sent successfully');
                } else {
                    console.error('Failed to send timezone offset');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }

        // Get the timezone offset and send it to the server when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            sendTimezoneOffset();
        });
    </script>

{% endblock %}