{% extends "account/base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
   


    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <form class="user-form " method="POST" action="{% url 'account_logout' %}">
                {% csrf_token %}

                <p><b class="f">Sign Out</b><br>
                    Are you sure you want to sign out?
                </p>
                <div class="form-container">
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div class="form-container">
                        <input type="submit" value="    Send Message" id="submit-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
