{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %} || Rabah360 {% endblock %}

{% block content %}
 

    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <form class="user-form " method="POST" action="{% url 'account_reset_password' %}">
                {% csrf_token %}
                <p><b class="f"> Password Reset</b><br>
                    No Problem! Just Follow The Simple Way To Reset Your Password
                </p>
                <div class="form-container">
                    {{ form|crispy }}
                    <div class="form-container">
                        <input type="submit" value="    Send Message" id="submit-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>



{% endblock %}
