{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}

                <p><b class="f">Set Password</b><br>
                </p>
                <div class="form-container">
                    {{ form|crispy }}
                    <div class="form-container">
                        <input type="submit" value="    Send Message" id="submit-btn">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
