{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <div class="card border-0">
        <div class="card-header">
            <div class="edit-profile__title">
                <h6>Password Change </h6>
            </div>
        </div>
        <div class="card-body">
            <div class="user-form-card">
                <div class="user-form-title"><h2>Any issue?</h2>
                    <p>Make sure your current password is strong</p></div>
                <form class="user-form " method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-button">
                        <button type="submit" class="btn btn-primary">change password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
