{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}
    {% trans "Password Reset" %} || Rabah360
{% endblock %}

{% block content %}


    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            {% csrf_token %}
            <p><b class="f"> Password Reset</b><br>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            <p style="padding:10px">{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam
                folder.
                Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
            </p>
        </div>
    </div>

{% endblock %}
