{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %} || Rabah360{% endblock %}

{% block content %}


    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <p><b class="f"> {% trans "Change Password" %}</b><br>
              
            <p style="padding:10px">{% trans 'Your password is now changed.' %}</p>
            </p>
        </div>
    </div>
{% endblock %}
