{% extends "account/base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %} || Rabah360{% endblock %}

{% block content %}


    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <p><b class="f">
                {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</b><br>
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                {% if token_fail %}

                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p style="padding:10px">{% blocktrans %}The password reset link was invalid, possibly because it has
                        already
                        been used.  Please
                        request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                    </p>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        <div class="form-container">
                           {{ form|crispy }}
                            <div class="form-container">
                                <input type="submit" value="    Send Message" id="submit-btn">
                            </div>
                        </div>
                    </form>

                {% endif %}
        </div>
    </div>
{% endblock %}
