{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

    <div class="auth-container">
        <div class="container-auth">
            <div class="auth-img">
                <img src="{% static 'new_page/images/Group 1.png' %}" alt="" onclick="window.location.href='{% url 'rabah_dashboard:home_page' %}'">
            </div>
            <form method="post" action=".">
                {% csrf_token %}
                <div>
                    <h1 style="margin: 0;">Create Account</h1>
                    <p style="text-align: center; margin: 0;">Existing user? <a id="myLink"
                                                                                href="{% url 'account_login' %}"><span>Login</span></a>
                    </p>
                </div>

                <div class="form-container">
                    <input type="hidden" name="{{ redirect_field_name }}" value="/"/>
                    {{ form.first_name|as_crispy_field }}
                    {{ form.last_name|as_crispy_field }}
                    {{ form.email|as_crispy_field }}
                    {{ form.organisation_name|as_crispy_field }}
                    {{ form.password1|as_crispy_field }}
                    {{ form.password2|as_crispy_field }}

                    <!-- Promo code input -->
                    <div class="form-group">
                        <label for="id_promo_code">Promo Code </label>
                        <div class=""><input type="text" class="form-control" id="id_promo_code" name="promo_code"
                                             value="{{ request.GET.promo_code }}"
                                             placeholder="Enter promo code if you have one">
                        </div>
                        <small id="promoCodeHelp" class="form-text text-muted">Enjoy a 14-day trial! Enter a promo
                            code if you have one.</small>
                    </div>   <!-- Invitation ID input -->

                    <div class="form-group" style="display: none">
                        <label for="id_invitation_id">Invitation ID</label>
                        <input type="text" class="form-control" id="id_invitation_id" name="invitation_id"
                               value="{{ request.GET.invitation_id }}"
                               placeholder="Enter your invitation ID">
                        <small id="invitationIdHelp" class="form-text text-muted">Enter the invitation ID you
                            received in the email to proceed with the registration.</small>
                    </div>


                    <div class="check">
                        <input type="checkbox" id="remember-me" name="remember-me">
                        <label for="remember-me">I accept Rabah360 <span>Terms</span> and <span>Conditions</span>
                        </label>
                    </div>
                    <div class="form-container">
                        <input type="submit" value="Create Account" id="submit-btn">
                    </div>

                </div>
            </form>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script>
        deleteCookie("organisation_id");
    </script>

    <script>


        // Function to send the timezone offset to the server
        function sendTimezoneOffset() {
            let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log(timezone);
            fetch('{% url "user:set_timezone" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token if using Django
                },
                body: JSON.stringify({timezone_offset: timezone})
            }).then(response => {
                if (response.ok) {
                    console.log('Timezone offset sent successfully');
                } else {
                    console.error('Failed to send timezone offset');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }

        // Get the timezone offset and send it to the server when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            sendTimezoneOffset();
        });
    </script>


{% endblock %}
