{% extends "account/base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% load socialaccount %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <div class="card border-0">
        <div class="card-header">
            <div class="edit-profile__title">
                <h6>Join Rabah360: Simplify Event Management. Sign Up Now! </h6>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="edit-profile__body">
                    <div class="edit-profile__body">
                        <input type="hidden" name="{{ redirect_field_name }}" value="/"/>
                        {{ form.first_name|as_crispy_field }}
                        {{ form.last_name|as_crispy_field }}
                        {{ form.email|as_crispy_field }}
                        {{ form.organisation_name|as_crispy_field }}
                        {{ form.password1|as_crispy_field }}
                        {{ form.password2|as_crispy_field }}

                        <!-- Promo code input -->
                        <div class="form-group">
                            <label for="id_promo_code">Promo Code </label>
                            <input type="text" class="form-control" id="id_promo_code" name="promo_code"
                                   value="{{ request.GET.promo_code }}"
                                   placeholder="Enter promo code if you have one">
                            <small id="promoCodeHelp" class="form-text text-muted">Enjoy a 14-day trial! Enter a promo
                                code if you have one.</small>
                        </div>

                        <div class="admin-condition">
                            <div class="checkbox-theme-default custom-checkbox ">
                                <input class="checkbox" type="checkbox" id="admin-1">
                                <label for="admin-1">
                    <span class="checkbox-text">Creating an account means you’re okay
                    with our <a href="#" class="color-primary">Terms of
                    Service</a> and <a href="#" class="color-primary">Privacy
                    Policy</a>
                    my preference</span>
                                </label>
                            </div>
                        </div>
                        <div class="admin__button-group button-group d-flex pt-1 justify-content-md-start justify-content-center">
                            <button class="btn btn-primary btn-default w-100 btn-squared text-capitalize lh-normal px-50 signIn-createBtn ">
                                Create Account
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="admin-topbar">
            <p class="mb-0">
                Don't have an account?
                <a href="{% url 'account_login' %}" class="color-primary">
                    Sign In
                </a>
            </p>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script>
        deleteCookie("organisation_id");
    </script>

    <script>


        // Function to send the timezone offset to the server
        function sendTimezoneOffset() {
            let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            console.log(timezone);
            fetch('{% url "user:set_timezone" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token if using Django
                },
                body: JSON.stringify({timezone_offset: timezone})
            }).then(response => {
                if (response.ok) {
                    console.log('Timezone offset sent successfully');
                } else {
                    console.error('Failed to send timezone offset');
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        }

        // Get the timezone offset and send it to the server when the page loads
        document.addEventListener('DOMContentLoaded', function () {
            sendTimezoneOffset();
        });
    </script>


{% endblock %}
