<div class="topbar">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 col-12">
        <!-- Contact -->
        <ul class="top-link">
          <li><a href="#">About</a></li>
          <li><a href="#">Churches</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
        <!-- End Contact -->
      </div>
      <div class="col-lg-6 col-md-7 col-12">
        <!-- Top Contact -->
        <ul class="top-contact">
          <li><i class="fa fa-phone"></i>+880 1234 56789</li>
          <li>
            <i class="fa fa-envelope"></i
            ><a href="mailto:info@rabah360.com">info@rabah360.com</a>
          </li>
        </ul>
        <!-- End Top Contact -->
      </div>
    </div>
  </div>
</div>
