{% extends "account/email/base_message.html" %}


{% block content %}
    <p style="inline-size: 100%;word-break: normal;overflow-wrap: anywhere;margin-top: 0;margin-bottom: 16px;color: #212121;font-family: Roboto, Helvetica, sans-serif;font-weight: 400;font-size: 16px;line-height: 24px;">

    <h3 style="margin-top: 0;inline-size: 100%;word-break: normal;overflow-wrap: anywhere;">
        Reset your Password
    </h3>

    You're receiving this e-mail because you or someone else has requested a
    password for
    your user account.
    It can be safely ignored if you did not request a password
    reset. Click the link below to reset your password.
    <br>
    <div style="display: flex;justify-content: center;align-items: center;margin-bottom: 20px;margin-top: 20px;inline-size: 100%;word-break: normal;overflow-wrap: anywhere;">
        <a href="{{ password_reset_url }}"
           style="padding-top: 5px;padding-bottom: 5px;padding-left: 20px;padding-right: 20px;background-color: #ff3838;color: white;text-decoration: none;">Reset
            Password</a>
        <br>

    </div>
    {% if username %}{% blocktrans %}In case you forgot, your username is
        {{ username }}.
    {% endblocktrans %}

    {% endif %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        Thank
        you for using
        {{ site_domain }}{% endblocktrans %}

    </p><p
        style="font-size: 12px;margin-top: 0;inline-size: 100%;word-break: normal;overflow-wrap: anywhere;margin-bottom: 16px;color: #212121;font-family: Roboto, Helvetica, sans-serif;font-weight: 400;line-height: 24px;">
    It is great to have you here. shop more on Rabah360 to get coupon.
    <a href="https://Rabah360.com" target="_blank"
       style="text-decoration: none;color: #616161;">https://Rabah360.com</a>
</p>
{% endblock %}