@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap";
.alignleft {
    float: left;
    margin-right: 15px
}

.alignright {
    float: right;
    margin-left: 15px
}

.aligncenter {
    display: block;
    margin: 0 auto 15px
}

a {
    color: unset;
    text-decoration: none
}

a:focus {
    outline: 0 solid
}

a:hover {
    text-decoration: none;
    color: unset
}

img {
    max-width: 100%;
    height: auto
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-family: jost, sans-serif;
    color: #2b2024
}

h1,
h2,
h3 {
    font-weight: 700
}

h4,
h5,
h6 {
    font-weight: 500
}

html,
body {
    font-family: poppins, sans-serif;
    color: #666565;
    font-weight: 400;
    line-height: 1.6
}

input:focus,
textarea:focus,
button:focus {
    outline: none
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

i.bx {
    vertical-align: middle
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #f4f5f8 inset !important
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #f4f5f8 inset !important
}

.mt-100 {
    margin-top: 100px
}

.mt-50 {
    margin-top: 50px
}

.mt-24 {
    margin-top: 24px
}

.mb-76 {
    margin-bottom: 76px
}

.pt-100 {
    padding-top: 100px
}

.pb-76 {
    padding-bottom: 76px
}

.pb-100 {
    padding-bottom: 100px
}

.common-btn {
    background: #8231d3;
    display: inline-block;
    color: #fff;
    font-family: jost, sans-serif;
    -webkit-box-shadow: 0 5px 10px rgba(253, 0, 83, .15);
    box-shadow: 0 5px 10px rgba(253, 0, 83, .15);
    font-weight: 700;
    font-size: 16px;
    padding: 12px 38px;
    border-radius: 50px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.common-btn:hover {
    color: #fff;
    background: #2b2024
}

.section-title h4 {
    font-size: 18px;
    position: relative;
    margin-bottom: 7px;
    display: inline-block;
    color: #2b2024
}

.section-title h4:before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 5px;
    background: #2b2024;
    height: 2px;
    width: 17px;
    border-radius: 50px
}

.section-title h4:after {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 5px;
    background: #2b2024;
    height: 2px;
    width: 17px;
    border-radius: 50px
}

.section-title h2 {
    font-size: 48px;
    margin-bottom: 0;
    color: #2b2024
}

.section-title-one-design h4:before {
    display: none
}

.shape {
    position: absolute
}

.breadcrumb-area {
    background-image: url(../images/breadcrumb.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 164px 0 90px
}

.breadcrumb-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #2b2024;
    opacity: .75;
    z-index: -1;
    height: 100%;
    width: 100%
}

.breadcrumb-area .breadcrumb-content h1 {
    margin-bottom: 8px;
    color: #fff;
    font-size: 50px
}

.breadcrumb-area .breadcrumb-content .breadcrumb-link p {
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    font-size: 18px;
    font-family: jost, sans-serif;
    font-weight: 500
}

.breadcrumb-area .breadcrumb-content .breadcrumb-link span {
    display: inline-block;
    background: #fff;
    height: 3px;
    width: 8px;
    border-radius: 50px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 3px
}

.hamburger {
    position: relative;
    width: 40px;
    height: 30px;
    cursor: pointer;
    border: 5px solid transparent;
    display: none;
    z-index: 1
}

.hamburger span {
    width: 100%;
    height: 2px;
    background: #2b2024;
    display: block;
    position: absolute;
    right: 0;
    -webkit-transition: all .3s;
    transition: all .3s
}

.hamburger span.h-top {
    top: 0
}

.hamburger span.h-bottom {
    bottom: 0;
    width: 27px
}

.hamburger span.h-middle {
    top: 50%;
    margin-top: -1px;
    width: 25px
}

.hamburger.h-active span {
    width: 100%
}

.hamburger.h-active span.h-top {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%;
    margin-top: -1px
}

.hamburger.h-active span.h-middle {
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0
}

.hamburger.h-active span.h-bottom {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 50%;
    margin-bottom: -1px
}

.bottombar {
    background-color: #08509e
}

.logo,
.main-nav,
.menu-btn-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}

.header-menu-area {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 15px;
    z-index: 9
}

.menu-btn-wrap {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.main-nav {
    float: right
}

.main-nav>ul>li {
    display: inline-block;
    position: relative;
    padding: 28px 24px
}

.main-nav>ul>li:last-child {
    padding-right: 0
}

.main-nav>ul>li.has-child-menu:after {
    position: absolute;
    right: 4px;
    top: 27px;
    font-family: boxicons;
    content: "";
    font-size: 20px;
    color: #2b202485;
    -webkit-transition: all .4s;
    transition: all .4s
}

.main-nav>ul>li:hover.has-child-menu:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.main-nav>ul>li:hover>a {
    color: #8231d3
}

.main-nav>ul>li:hover>a:after {
    opacity: 1
}

.main-nav>ul>li+li {
    padding: 28px 24px
}

.main-nav>ul>li>a {
    display: block;
    text-decoration: none;
    color: #2b2024;
    font-size: 18px;
    font-family: jost, sans-serif;
    font-weight: 400;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s
}

.main-nav>ul>li>a.active {
    color: #8231d3
}

.main-nav ul li .sub-menu {
    position: absolute;
    left: 0;
    top: 81px;
    right: 0;
    min-width: 200px;
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: all .3s;
    transition: all .3s;
    background: #fff;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1)
}

.main-nav ul li .sub-menu li .sub-menu {
    right: -200px;
    left: inherit;
    top: 0
}

.main-nav ul li .sub-menu>li {
    display: block;
    margin: 0;
    position: relative
}

.main-nav ul li .sub-menu>li a {
    display: block;
    padding: 15px 18px;
    color: #2b2024;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    -webkit-transition: all .3s;
    transition: all .3s
}

.main-nav ul li .sub-menu>li a:last-child {
    border: none
}

.main-nav ul li .sub-menu>li a:hover {
    color: #fff;
    background: #2b2024
}

.main-nav .fl {
    width: 30px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    font-style: normal;
    position: absolute;
    right: -5px;
    top: 0;
    z-index: 999;
    display: none;
    cursor: pointer
}

.main-nav .fl:before {
    font-size: 14px;
    text-align: center;
    line-height: 35px
}

.main-nav>ul>li+li>.sub-menu {
    left: 15px
}

.main-nav>ul>li:hover>.sub-menu {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1
}

.main-nav ul li .sub-menu li:hover>.sub-menu,
.main-nav ul li .sub-menu li .sub-menu li:hover>.sub-menu {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
    opacity: 1
}

.slideInUp {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate3d(0, 30px, 0);
    transform: translate3d(0, 30px, 0);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out
}

.is-active .slideInUp {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slideInUp2 {
    -webkit-transition-delay: .3s;
    transition-delay: .3s
}

.sticky {
    position: fixed;
    top: 0;
    background: #f5f5f5;
    z-index: 99;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    -webkit-box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .01);
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, .01);
    padding-top: unset
}

.sticky .breadcrumb-nav>ul>li>a {
    color: #2b2024
}

.sticky .main-nav>ul>li>a.active {
    color: #8231d3
}

.sticky .breadcrumb-nav>ul>li.has-child-menu:after {
    color: #2b202485
}

.breadcrumb-menu-header .logo a:last-child {
    display: none
}

.breadcrumb-menu-header .logo a:first-child {
    display: block
}

.breadcrumb-menu-header.sticky .logo a:last-child {
    display: block
}

.breadcrumb-menu-header.sticky .logo a:first-child {
    display: none
}

.breadcrumb-menu-header.sticky .breadcrumb-hamburger span {
    background: #000
}

.home-header-menu-area.sticky .logo a:last-child {
    display: none
}

.home-header-menu-area.sticky .logo a:first-child {
    display: block
}

.hero-area-wrap {
    background-image: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 281px 0 270px;
    position: relative;
    z-index: 1
}

.hero-area-wrap .hero-shape-bottom-left {
    left: 0;
    bottom: 0
}

.hero-area-wrap .hero-shape-bottom-right {
    right: 0;
    bottom: 0
}

.hero-area-wrap:before {
    background-image: url(../images/hero-angle-shape-1.svg);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat
}

.hero-area-wrap .hero-text-content h1 {
    font-size: 72px;
    line-height: 80px;
    text-transform: capitalize
}

.hero-area-wrap .hero-text-content p {
    margin-bottom: 0
}

.hero-area-wrap .hero-image-wrap {
    position: relative;
    z-index: 1
}

.hero-area-wrap .hero-image-wrap:before {
    background-image: url(../images/hero-img-shape.png);
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: 100%;
    -webkit-transform: translateY(-43%);
    transform: translateY(-43%);
    left: -56px
}

.hero-area-wrap .hero-image-wrap .hero-img {
    position: relative;
    z-index: 1
}

.hero-area-wrap .hero-image-wrap .heor-time-shape {
    display: inline-block;
    text-align: center;
    background: #2b2024;
    color: #fff;
    border-radius: 50%;
    height: 160px;
    width: 160px;
    border: 4px solid #8231d3;
    position: absolute;
    right: 0;
    top: 66%;
    z-index: 0
}

.hero-area-wrap .hero-image-wrap .heor-time-shape .heor-time-text {
    position: relative;
    height: 100%
}

.hero-area-wrap .hero-image-wrap .heor-time-shape .heor-time-text p {
    margin-bottom: 0;
    position: absolute;
    right: 0;
    bottom: 22px;
    left: 0;
    line-height: 22px
}

.about-section-title h4 {
    color: #8231d3
}

.about-section-title h4:after {
    background: #8231d3
}

.about-section-title h2 {
    font-size: 32px
}

.about-img-wrap {
    position: relative
}

.about-img-wrap .about-text-shape-wrap {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.about-img-wrap .about-text-shape-wrap .about-text-shape-content {
    display: inline-block;
    position: absolute;
    right: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    text-align: center
}

.about-img-wrap .about-text-shape-wrap .about-text-shape-content h3 {
    font-size: 24px;
    margin-bottom: 7px;
    color: #fff
}

.about-img-wrap .about-text-shape-wrap .about-text-shape-content h4 {
    font-size: 12px;
    color: #fff;
    margin-bottom: 0
}

.about-paragraph-content {
    margin-top: 15px
}

.about-paragraph-content p {
    margin-bottom: 7px
}

.service-area {
    background: #8231d3;
    padding: 100px 0 193px;
    position: relative
}

.service-area .service-shape-top-right {
    top: 0;
    right: 0
}

.service-area .service-shape-bottom-left {
    bottom: 0;
    left: 0
}

.service-area .service-section-title h4 {
    color: #fff
}

.service-area .service-section-title h4:after {
    background: #fff
}

.service-area .service-section-title h2 {
    color: #fff
}

.single-service-box {
    background: #fff;
    -webkit-clip-path: polygon(0 0, 94% 2%, 99% 97%, 0 100%);
    clip-path: polygon(0 0, 94% 2%, 99% 97%, 0 100%);
    padding: 20px 30px 40px;
    border-radius: 4px 52px 26px 4px;
    overflow: hidden;
    -webkit-transition: all 2.5s ease 0s;
    transition: all 2.5s ease 0s
}

.single-service-box:hover {
    background: #2b2024
}

.single-service-box:hover .service-content h4 {
    color: #fff;
    border-bottom: 1px solid #fff
}

.single-service-box:hover .service-content p {
    color: #fff
}

.single-service-box:hover .service-content a {
    color: #fff
}

.single-service-box:hover .service-icon i {
    color: #fff
}

.single-service-box .service-content h4 {
    font-weight: 600;
    color: #8231d3;
    border-bottom: 1px solid #2b2024;
    display: inline-block;
    font-size: 20px;
    margin-top: 17px;
    padding-bottom: 2px;
    margin-bottom: 19px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-service-box .service-content p {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-service-box .service-content a {
    font-family: Jost;
    font-weight: 700;
    font-size: 16px;
    text-transform: capitalize;
    color: #8231d3;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-service-box .service-content a i {
    line-height: 0;
    margin-left: 7px;
    font-size: 14px
}

.single-service-box .service-content a i:before {
    vertical-align: middle
}

.single-service-box .service-icon i {
    color: #2b2024;
    font-size: 42px;
    line-height: 57px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-service-box .service-icon i:before {
    vertical-align: middle
}

.service-slide-wrap .owl-nav {
    position: absolute;
    top: -86px;
    right: 0
}

.service-slide-wrap .owl-prev,
.service-slide-wrap .owl-next {
    border: 2px solid #fff;
    background: 0 0;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

.service-slide-wrap .owl-prev:hover,
.service-slide-wrap .owl-next:hover {
    background: #fff;
    color: #8231d3
}

.service-slide-wrap .owl-prev {
    margin-right: 30px
}

.company-statistics-area {
    position: relative;
    background: #eff1f4
}

.company-statistics-area .company-statistics-box-wrap {
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    border-radius: 15px;
    background: #fff;
    padding: 20px 10px 13px;
    margin-top: -93px
}

.company-statistics-area .company-statistics-box-wrap .statistics-container {
    width: 100%;
    height: 100%
}

.company-statistics-area .company-statistics-box-wrap .statistics-box {
    margin-bottom: 24px
}

.company-statistics-area .company-statistics-box-wrap .statistics-box .statistics-icon {
    height: 50px;
    vertical-align: middle
}

.company-statistics-area .company-statistics-box-wrap .statistics-box .statistics-icon i {
    font-size: 24px;
    color: #8231d3
}

.company-statistics-area .company-statistics-box-wrap .statistics-box .statistics-icon i:before {
    vertical-align: middle
}

.company-statistics-area .company-statistics-box-wrap .statistics-box .statistics-countcount h4 {
    display: initial;
    font-weight: 700;
    font-size: 32px
}

.company-statistics-area .company-statistics-box-wrap .statistics-box .statistics-countcount span {
    font-size: 28px;
    color: #000;
    font-weight: 700
}

.company-statistics-area .company-statistics-box-wrap .statistics-box .statistics-countcount h6 {
    font-size: 18px;
    margin-bottom: 0
}

.portfolio-box-wrap {
    margin-bottom: 24px
}

.portfolio-box-wrap:hover .portfolio-img .portfolio-hover-content {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
    opacity: 1
}

.portfolio-box-wrap .portfolio-img {
    position: relative
}

.portfolio-box-wrap .portfolio-img img {
    width: 100%
}

.portfolio-box-wrap .portfolio-img .portfolio-hover-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #352a2e;
    height: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all .5s;
    transition: all .5s
}

.portfolio-box-wrap .portfolio-img .portfolio-hover-content h3 {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0
}

.work-mixi {
    margin-top: 40px
}

.work-mixi .mix {
    display: none
}

.portfolio-link li {
    display: inline-block;
    font-family: Jost;
    font-weight: 400;
    font-size: 18px;
    color: #2b2024;
    padding: 7px 50px;
    border-radius: 50px;
    cursor: pointer;
    border: 1px solid transparent
}

.portfolio-link li.active {
    border: 1px solid #8231d3
}

.portfolio-area {
    background: #eff1f4
}

.portfolio-load-wrap {
    margin-top: 26px
}

.price-top-content h2.text1 {
    display: none
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0
}

.switch span {
    border: 1px solid transparent;
    border-radius: 40px;
    padding: 7px 30px;
    color: #2b2024;
    font-family: jost, sans-serif;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400
}

.switch span.price-active {
    border: 1px solid #8231d3
}

.price-content-box {
    background: #fff;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    padding: 50px 10px;
    position: relative;
    -webkit-transition: all 2.5s ease 0s;
    transition: all 2.5s ease 0s;
    margin-bottom: 24px
}

.price-content-box:hover {
    background: #2b2024
}

.price-content-box:hover .price-top-content h1 {
    color: #fff
}

.price-content-box:hover .price-top-content h2 sub {
    color: #fff
}

.price-content-box:hover .price-list li {
    color: #fff
}

.price-content-box .price-shape-top-left {
    top: 0;
    left: 0
}

.price-content-box .price-top-content h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.price-content-box .price-top-content h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 0;
    color: #8231d3
}

.price-content-box .price-top-content h2 sub {
    color: #2b2024;
    font-size: 20px;
    font-weight: 400;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.price-content-box .price-list li {
    color: #000;
    margin-bottom: 30px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.price-content-box .price-list li:last-child {
    margin-bottom: 0
}

.price-btn:hover {
    background: #8231d3
}

.subscribe-area {
    background-image: url(../images/subscribe-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 130px 0;
    position: relative;
    z-index: 1
}

.subscribe-area:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #232323;
    opacity: .96;
    z-index: -1
}

.subscribe-area .subscribe-content h2 {
    font-size: 48px;
    color: #fff;
    margin-bottom: 0
}

.subscribe-btn:hover {
    background: #fff;
    color: #2b2024
}

.single-team-box {
    background: #fff;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    position: relative;
    padding: 30px 10px;
    -webkit-transition: all 2.5s ease 0s;
    transition: all 2.5s ease 0s
}

.single-team-box:hover {
    background: #2b2024
}

.single-team-box:hover .team-image img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%)
}

.single-team-box:hover .team-content h4 {
    color: #fff
}

.single-team-box:hover .team-content p {
    color: #fff
}

.single-team-box:hover .team-social li {
    border: 1px solid #fff;
    color: #fff
}

.single-team-box .team-shape-top {
    top: 0;
    left: 0
}

.single-team-box .team-shape-bottom {
    bottom: 0;
    right: 0
}

.single-team-box .team-image {
    display: inline-block;
    overflow: hidden;
    background: #8231d3;
    padding: 6px;
    border-radius: 50%
}

.single-team-box .team-image img {
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s
}

.single-team-box .team-content h4 {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 3px;
    margin-top: 3px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-team-box .team-content p {
    color: #2b2024;
    margin-bottom: 0;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-team-box .team-social {
    margin-top: 12px
}

.single-team-box .team-social li {
    display: inline-block;
    border: 1px solid #2b2024;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    color: #2b2024;
    margin: 0 5px;
    line-height: 23px;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.single-team-box .team-social li i {
    font-size: 14px
}

.single-team-box .team-social li i:before {
    vertical-align: middle
}

.team-area {
    background: #eff1f4;
    position: relative
}

.team-area .team-top-dot-shape {
    top: 0;
    right: 0
}

.team-slide-wrap .owl-item img {
    width: unset
}

.team-slide-wrap .owl-nav {
    text-align: center;
    margin-top: 50px
}

.team-slide-wrap .owl-prev,
.team-slide-wrap .owl-next {
    border: 2px solid #8231d3;
    background: 0 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: #8231d3;
    margin: 0 15px;
    -webkit-transition: .4s;
    transition: .4s
}

.team-slide-wrap .owl-prev:hover,
.team-slide-wrap .owl-next:hover {
    background: #8231d3;
    color: #fff
}

.blog-box-wrap {
    margin-bottom: 24px
}

.blog-box-wrap:hover .blog-box-img img {
    -webkit-filter: grayscale(70%);
    filter: grayscale(70%);
    -webkit-transform: scale(1.007);
    transform: scale(1.007)
}

.blog-box-img {
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0
}

.blog-box-img img {
    width: 100%;
    -webkit-transition: .2s;
    transition: .2s
}

.blog-box-meta {
    background: #362b2f;
    padding: 18px 0
}

.blog-box-meta ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    padding: 0 25px
}

.blog-box-meta li {
    font-family: jost, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff
}

.blog-box-meta li i {
    font-size: 13px;
    margin-right: 6px
}

.blog-box-content {
    padding: 25px;
    background: #fff;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    border-radius: 0 0 5px 5px
}

.blog-box-content .section-title h4 {
    color: #8231d3
}

.blog-box-content .section-title h4:after {
    background: #8231d3
}

.blog-box-content .section-title h2 {
    font-size: 25px
}

.blog-btn-wrap {
    margin-top: 26px
}

.blog-btn-wrap .blog-btn {
    padding: 12px 55px
}

.blog-area {
    position: relative
}

.blog-area .blog-bottom-shape {
    left: 0;
    bottom: 0
}

.single-widget {
    color: #fff
}

.single-widget .footer-title h4 {
    font-size: 24px;
    color: #fff;
    margin-bottom: 25px
}

.single-widget .footer-social li {
    display: inline
}

.single-widget .footer-social li i {
    font-size: 16px;
    border: 1px solid #fff;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 50%;
    line-height: 28px;
    margin-right: 15px;
    -webkit-transition: .4s;
    transition: .4s
}

.single-widget .footer-social li i:hover {
    background: #8231d3;
    border: 1px solid #8231d3
}

.single-widget .footer-social li i:before {
    vertical-align: middle
}

.single-widget .footer-social li:last-child i {
    margin-right: 0
}

.single-widget .footer-logo p {
    margin-top: 27px;
    margin-bottom: 31px
}

.single-widget .footer-link li {
    font-family: jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    -webkit-transition: .3s;
    transition: .3s
}

.single-widget .footer-link li:last-child {
    margin-bottom: 0
}

.single-widget .footer-link li:hover {
    color: #8231d3
}

.single-widget .footer-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 16px
}

.single-widget .footer-address:hover i {
    color: #8231d3
}

.single-widget .footer-address i {
    font-size: 22px;
    padding-right: 15px;
    -webkit-transition: .3s;
    transition: .3s
}

.single-widget .footer-address span {
    font-family: jost, sans-serif;
    font-weight: 400;
    font-size: 16px
}

.single-widget .footer-form-title {
    margin-bottom: 0;
    margin-top: 30px
}

.single-widget .footer-news-form {
    position: relative;
    overflow: hidden;
    border-radius: 5px
}

.single-widget .footer-news-form input {
    width: 100%;
    background: #fff;
    border: none;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    padding: 14px 114px 14px 14px;
    position: relative;
    font-size: 12px
}

.single-widget .footer-news-form button {
    border: none;
    position: absolute;
    right: 0;
    height: 100%;
    font-family: jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #8231d3;
    padding: 0 21px
}

.footer-area {
    background: #2b2024;
    position: relative;
    z-index: 1
}

.footer-area:before {
    background-image: url(../images/footer-shape.png);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1
}

.footer-wrap {
    padding: 100px 0 35px
}

.copy-right-area {
    padding: 15px 0
}

.copy-right-area p {
    margin-bottom: 0;
    font-family: jost, sans-serif;
    color: #fff
}

.breadcrumb-nav>ul>li>a {
    color: #fff
}

.breadcrumb-nav>ul>li.has-child-menu:after {
    color: #ffffff94
}

.breadcrumb-hamburger span {
    background: #fff
}

.single-service-page-box {
    background: #fff;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    -webkit-clip-path: unset;
    clip-path: unset;
    border-radius: 30px;
    margin-bottom: 24px
}

.service-page-service-area {
    position: relative
}

.service-page-service-area .service-page-service-shape {
    left: 0;
    bottom: 23px;
    width: 8%
}

.work-process-content-wrap .work-process-title-shape {
    display: inline-block;
    background: #8231d3;
    -webkit-clip-path: polygon(0 0, 11% 0, 100% 15%, 95% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 11% 0, 100% 15%, 95% 100%, 0 100%, 0% 50%)
}

.work-process-content-wrap .work-process-title-shape h4 {
    margin-bottom: 0;
    padding: 7px 30px 7px 20px;
    font-weight: 600;
    font-size: 20px;
    color: #fff
}

.work-process-content-wrap .work-process-content h2 {
    font-size: 32px;
    margin-top: 30px
}

.feature-tab-wrap .nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px
}

.feature-tab-wrap .nav-link {
    background: 0 0;
    border: none;
    font-size: 18px;
    border-radius: unset;
    padding: 12px 32px;
    font-family: jost, sans-serif;
    font-weight: 400;
    border: 1px solid transparent;
    margin: 0 5px
}

.feature-tab-wrap .nav-link.active,
.feature-tab-wrap .nav-pills .show>.nav-link {
    border: 1px solid #8231d3;
    color: #2b2024;
    border-radius: 50px;
    background-color: unset
}

.feature-tab-right-content h3 {
    font-size: 32px
}

.feature-tab-right-content li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px
}

.feature-tab-right-content li:last-child {
    margin-bottom: 0
}

.feature-tab-right-content li i {
    margin-right: 5px;
    font-size: 17px
}

.sidebar-wrap {
    margin-bottom: 24px
}

.sidebar-wrap:last-child {
    margin-bottom: 0
}

.sidebar-wrap .single-mix-sidebar {
    background: #fff;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    padding: 25px 20px
}

.sidebar-wrap .single-mix-sidebar .mix-sidebar-title h4 {
    margin-bottom: 0
}

.sidebar-wrap .single-mix-sidebar .sidebar-service-list li {
    margin-top: 15px
}

.sidebar-cta-box {
    position: relative;
    background-image: url(../images/service-cta-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    padding: 30px 20px;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1)
}

.sidebar-cta-box:before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: "";
    background: #2b2024;
    opacity: .8
}

.sidebar-cta-box .sidebar-cta-box-content {
    color: #fff
}

.sidebar-cta-box .sidebar-cta-box-content h4 {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 25px
}

.sidebar-cta-box .sidebar-cta-wrap {
    margin-top: 40px
}

.sidebar-cta-btn:hover {
    color: #2b2024;
    background: #fff
}

.sidebar-time li {
    color: #2b2024;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative
}

.sidebar-time li:last-child {
    margin-bottom: 0
}

.sidebar-time li span {
    color: #666565;
    font-weight: 400;
    float: right
}

.details-content-wrap {
    margin-bottom: 50px
}

.details-content-wrap:last-child {
    margin-bottom: 0
}

.service-details-content h3 {
    color: #8231d3
}

.portfolio-details-like-area {
    background-image: url(../images/portfolio/portfolio-details-like-bg-img.png);
    padding: 80px 0
}

.portfolio-details-like-area:before {
    opacity: .9
}

.portfolio-details-like-area .portfolio-details-work-process-title h3 {
    margin-bottom: 0
}

.portfolio-details-like-area .portfolio-details-like-content h2 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 30px
}

.portfolio-details-like-area .portfolio-details-like-btn {
    padding: 12px 58px
}

.portfolio-details-like-area .portfolio-details-like-btn i {
    font-size: 13px;
    margin-right: 7px
}

.portfolio-details-like-area .portfolio-details-like-list li {
    display: inline-block;
    color: #fff;
    margin: 0 30px 0 0
}

.portfolio-details-like-area .portfolio-details-like-list li i {
    margin-right: 4px;
    font-size: 15px
}

.portfolio-details-like-area .portfolio-details-like-list li:last-child {
    margin-right: 0
}

.portfolio-details-work-process-video {
    height: 636px
}

.portfolio-details-work-process-video iframe {
    height: 100%;
    width: 100%
}

.portfolio-details-sidebar-time li p {
    position: absolute;
    top: 0;
    right: 60%
}

.portfolio-details-sidebar-time-title h4 {
    font-size: 20px;
    background: #8231d3;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 21px
}

.error-content h6 {
    color: #bfbcbd;
    margin-bottom: 0
}

.pagination-wrap {
    margin-top: 26px
}

.pagination-wrap li {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid #666565;
    font-family: jost, sans-serif;
    font-weight: 700;
    line-height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    cursor: pointer;
    text-align: center
}

.pagination-wrap li:hover {
    background: #8231d3;
    color: #fff;
    border-color: #8231d3;
    -webkit-transition: all .3s;
    transition: all .3s
}

.pagination-wrap li:hover:first-child,
.pagination-wrap li:hover:last-child {
    background: #8231d3;
    color: #fff;
    border: 1px solid #8231d3
}

.pagination-wrap li:last-child {
    margin-right: 0
}

.pagination-wrap li:first-child,
.pagination-wrap li:last-child {
    border: 1px solid #8231d3;
    color: #8231d3;
    -webkit-transition: .4s;
    transition: .4s
}

.blog-sidebar-box-content p {
    margin-top: 12px
}

.blog-sidebar-box-content .blog-box-btn-wrap a {
    color: #8231d3;
    font-family: jost, sans-serif;
    font-weight: 700;
    font-size: 16px;
    -webkit-transition: .4s;
    transition: .4s
}

.blog-sidebar-box-content .blog-box-btn-wrap a:hover {
    color: #2b2024
}

.blog-sidebar-box-content .blog-box-btn-wrap a i {
    margin-left: 7px
}

.blog-sidebar-box-content .blog-box-btn-wrap a i:before {
    vertical-align: middle
}

.blog-search {
    position: relative;
    margin-bottom: 24px
}

.blog-search button {
    border: none;
    background: 0 0;
    position: absolute;
    right: 8px;
    font-size: 25px;
    color: #666565;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.blog-search input {
    overflow: hidden;
    width: 100%;
    padding: 16px 42px 16px 26px;
    border: none;
    background: #f4f5f8;
    position: relative
}

.blog-sidebar-wrap {
    margin-bottom: 24px
}

.blog-sidebar-wrap:last-child {
    margin-bottom: 0
}

.blog-sidebar-wrap .blog-sidebar-single-box {
    background: #f4f5f8;
    padding: 30px 25px
}

.blog-sidebar-wrap .blog-sidebar-title h4 {
    font-weight: 600;
    font-size: 22px
}

.blog-recent-post-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 26px
}

.blog-recent-post-wrap .blog-recent-post-img {
    width: 100%;
    max-width: 64px
}

.blog-recent-post-wrap .blog-recent-post-content {
    padding-left: 10px
}

.blog-recent-post-wrap .blog-recent-post-content h5 {
    font-size: 18px;
    margin-bottom: 0;
    color: #666565;
    -webkit-transition: .4s;
    transition: .4s
}

.blog-recent-post-wrap .blog-recent-post-content h5:hover {
    color: #8231d3
}

.blog-category-list li {
    margin-bottom: 20px;
    -webkit-transition: .4s;
    transition: .4s
}

.blog-category-list li:hover {
    color: #8231d3
}

.blog-category-list li:last-child {
    margin-bottom: 0
}

.blog-tag-list li {
    display: inline-block;
    background: #fff;
    border-radius: 5px;
    padding: 6px 17px;
    margin: 0 10px 15px 0;
    -webkit-transition: .5s;
    transition: .5s
}

.blog-tag-list li:hover {
    background: #8231d3;
    color: #fff
}

.single-blog-details-content .single-blog-details-img {
    margin: 20px 0
}

.single-blog-details-content h3 {
    font-size: 32px
}

.single-blog-details-content h4 {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
    color: #666565
}

.single-blog-details-content h4 span {
    margin: 0 5px
}

.single-blog-details-content h5 {
    font-size: 18px
}

.single-blog-details-content p {
    margin-bottom: 0
}

.blog-details-quote {
    padding: 12px 60px;
    position: relative
}

.blog-details-quote h4 {
    margin-bottom: 0
}

.blog-details-quote i {
    color: #8231d3;
    font-size: 28px;
    position: absolute
}

.blog-details-quote i.qt-left {
    left: 0;
    top: 0
}

.blog-details-quote i.qt-right {
    right: 0;
    bottom: 0
}

.details-quote-text {
    margin-bottom: 0;
    margin-top: 15px
}

.blog-details-share-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 20px 0
}

.blog-details-share-box .blog-details-share-about li {
    display: inline-block;
    margin-right: 20px;
    color: #2b2024
}

.blog-details-share-box .blog-details-share-about li:last-child {
    margin-right: 0
}

.blog-details-share-box .blog-details-share-about li i {
    font-size: 14px;
    margin-right: 3px
}

.blog-details-share-box .blog-details-share-social li {
    display: inline-block
}

.blog-details-share-box .blog-details-share-social li:last-child a {
    margin-right: 0
}

.blog-details-share-box .blog-details-share-social li:hover a {
    background: #8231d3;
    color: #fff
}

.blog-details-share-box .blog-details-share-social li a {
    display: block;
    height: 30px;
    width: 30px;
    border: 1px solid #8231d3;
    color: #8231d3;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin-right: 10px;
    -webkit-transition: .4s;
    transition: .4s
}

.blog-details-share-box .blog-details-share-social li span {
    font-family: jost, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2b2024;
    margin-right: 15px
}

.reply-box-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px
}

.reply-box-wrap:last-child {
    margin-bottom: 0
}

.reply-box-wrap .reply-box-img {
    width: 100%;
    max-width: 99px
}

.reply-box-wrap .reply-box-content {
    padding-left: 20px
}

.reply-box-wrap .reply-box-content h6 {
    font-size: 18px;
    margin-bottom: 0
}

.reply-box-wrap .reply-box-content p {
    margin-top: 7px;
    margin-bottom: 10px
}

.reply-box-wrap .reply-box-date p {
    margin-bottom: 0;
    color: #8231d3
}

.reply-box-wrap .reply-box-date p a {
    color: #2b2024;
    display: inline-block;
    border-bottom: 1px solid #2b2024;
    line-height: 13px;
    margin-left: 10px;
    font-family: jost, sans-serif;
    font-weight: 700
}

.blog-comments-title h3 {
    margin-bottom: 50px
}

.contat-input {
    position: relative
}

.contat-input input,
.contat-input textarea {
    width: 100%;
    background: #f4f5f8;
    border-radius: 5px;
    padding: 13px 20px;
    margin-bottom: 24px;
    border: none;
    font-family: jost, sans-serif;
    color: #666565;
    font-weight: 400;
    font-size: 18px
}

.contat-input .form-message {
    position: absolute;
    left: 0;
    top: 100%
}

.contat-input .blog-comments-btn-wrap button {
    border: none
}

.location-map {
    height: 500px
}

.location-map iframe {
    width: 100%;
    height: 100%
}

.contact-help-address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 25px
}

.contact-help-address:hover i {
    background: #2b2024
}

.contact-help-address i {
    height: 50px;
    width: 50px;
    background: #8231d3;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
    -webkit-transition: .5s;
    transition: .5s
}

.contact-help-address span {
    font-family: jost, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2b2024;
    padding-left: 15px
}

.contact-help-social {
    margin-top: 50px
}

.contact-help-social li {
    display: inline-block;
    height: 35px;
    width: 35px;
    color: #fff;
    background: #8231d3;
    border-radius: 50%;
    text-align: center;
    font-size: 15px;
    line-height: 37px;
    margin-right: 40px
}

.contact-help-social li:last-child {
    margin-right: 0
}

.map-title h2,
.contact-help-section-title h2 {
    font-size: 34px
}

.faq-wrap .accordion-item {
    margin-bottom: 24px;
    border: none
}

.faq-wrap .accordion-item:last-child {
    margin-bottom: 0
}

.faq-wrap .accordion-button {
    background: #f4f5f8;
    color: #666565;
    font-size: 18px;
    font-family: jost, sans-serif;
    font-weight: 500;
    padding-right: 60px
}

.faq-wrap .accordion-button:focus {
    z-index: unset;
    border-color: unset;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.faq-wrap .accordion-button::after {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: unset;
    height: unset;
    margin-left: auto;
    background-image: none;
    background-repeat: unset;
    background-size: unset;
    font-family: "font awesome 5 free";
    font-weight: 900;
    position: absolute;
    right: 22px;
    content: "\f067";
    -webkit-transition: unset;
    transition: unset;
    font-size: 13px;
    color: #666565
}

.faq-wrap .accordion-button:not(.collapsed)::after {
    background-image: none;
    -webkit-transform: unset;
    transform: unset;
    font-family: "font awesome 5 free";
    font-weight: 900;
    content: "\f068";
    font-size: 13px
}

.faq-wrap .accordion-body {
    font-family: poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #f4f5f8;
    border-top: 1px solid #e0e0e3
}

.faq-wrap .accordion-button:not(.collapsed) {
    -webkit-box-shadow: none;
    box-shadow: none
}

.faq-section-title {
    margin-bottom: 50px
}

.faq-tab-list-wrap .nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.faq-tab-list-wrap .nav-link {
    background: #f4f5f8;
    border: none;
    font-size: 16px;
    border-radius: unset;
    font-family: jost, sans-serif;
    font-weight: 700;
    margin: 0 14px;
    height: 170px;
    width: 170px
}

.faq-tab-list-wrap .nav-link i {
    width: 75px;
    height: 75px;
    border: 2px solid #8231d3;
    color: #8231d3;
    display: inline-block;
    border-radius: 50%;
    font-size: 40px;
    line-height: 83px;
    margin-bottom: 10px
}

.faq-tab-list-wrap .nav-link.active,
.faq-tab-list-wrap .nav-pills .show>.nav-link {
    color: #fff;
    background-color: unset;
    background: #8231d3
}

.faq-tab-list-wrap .nav-link.active i,
.faq-tab-list-wrap .nav-pills .show>.nav-link i {
    border: 2px solid #fff;
    color: #fff
}

.mission-slide-wrap {
    position: relative
}

.mission-slide-wrap .mission-slide-img-two {
    margin-top: -365px;
    margin-left: 129px;
    z-index: 1
}

.mission-slide-wrap .slick-dots {
    text-align: center;
    margin-top: 32px
}

.mission-slide-wrap .slick-dots li.slick-active button {
    background: #8231d3
}

.mission-slide-wrap .slick-dots li {
    display: inline-block;
    margin: 0 5px
}

.mission-slide-wrap .slick-dots li button {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: 0;
    outline: none;
    background: 0 0;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #8231d3
}

.coming-soon-wrap {
    min-height: 100vh;
    padding: 80px 0;
    position: relative;
    z-index: 1;
    background-image: url(../images/coming-soon-bg.png);
    background-size: cover;
    background-repeat: no-repeat
}

.coming-soon-wrap:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    z-index: -1;
    background: #2b2024;
    opacity: .95;
    left: 0;
    top: 0
}

.coming-soon-wrap .coming-soon-time-wrap {
    position: relative;
    margin-bottom: 24px
}

.coming-soon-wrap .coming-soon-time-wrap img {
    width: 100%
}

.coming-soon-wrap .coming-soon-time-wrap .coming-soon-single-time {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.coming-soon-wrap .coming-soon-content h1 {
    color: #fff;
    font-size: 65px;
    margin-bottom: 0
}

.coming-soon-wrap .coming-soon-bottom-item h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 26px
}

.coming-soon-wrap .coming-soon-single-time h1 {
    font-size: 72px
}

.coming-soon-wrap .coming-soon-single-time h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 0
}

.coming-soon-wrap .coming-news-form {
    position: relative;
    overflow: hidden;
    border-radius: 5px
}

.coming-soon-wrap .coming-news-form input {
    width: 100%;
    background: #fff;
    border: none;
    -webkit-box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    box-shadow: 7px 10px 40px rgba(13, 52, 79, .1);
    padding: 14px 114px 14px 14px;
    position: relative;
    font-size: 12px
}

.coming-soon-wrap .coming-news-form button {
    border: none;
    position: absolute;
    right: 0;
    height: 100%;
    font-family: jost, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    background: #8231d3;
    padding: 0 21px
}

.coming-soon-wrap .coming-soon-one {
    left: 0;
    top: 0;
    z-index: -1
}

.coming-soon-wrap .coming-soon-two {
    right: 0;
    bottom: 0;
    z-index: -1
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.sk-cube-grid {
    width: 70px;
    height: 70px
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #8231d3;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out
}

.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1)
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1)
    }
}

.back-to-top-btn {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background: #8231d3;
    height: 40px;
    width: 40px;
    border-radius: 90%;
    text-align: center;
    line-height: 36px;
    display: none;
    z-index: 9999;
    -webkit-transition: .3s;
    transition: .3s
}

.back-to-top-btn:hover {
    opacity: .9
}

.back-to-top-btn i {
    color: #fff;
    font-size: 18px
}

.back-to-top-btn i::before {
    vertical-align: middle
}