{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Rabah</title>
    <link rel="icon" href="{% static "landing_page/assets/images/fav.png" %}" type="image/gif" sizes="20x20">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/all.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/font/flaticon.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/boxicons.min.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/bootstrap-icons.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/owl.carousel.min.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/slick.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/magnific-popup.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/animate.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/style.css" %}">

    <link rel="stylesheet" href="{% static "landing_page/assets/css/responsive.css" %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>

    <style>
        anchor_hover:hover {
            color: #FD0053;
        }
    </style>

</head>

<body>

<div class="preloader">
    <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
</div>


<a href="#" id="scroll-top" class="back-to-top-btn"><i class="fas fa-chevron-up"></i></a>


<header>

    <nav>
        <div class="header-menu-area home-header-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-sm-6 col-6">
                        <div class="logo text-left">
                            <a href="{% url "rabah_dashboard:home_page" %}"><h3>Rabah</h3></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-sm-6 col-6">
                        <a href="javascript:void(0)" class="hidden-lg hamburger">
                            <span class="h-top"></span>
                            <span class="h-middle"></span>
                            <span class="h-bottom"></span>
                        </a>
                        <nav class="main-nav">
                            <div class="logo mobile-ham-logo d-lg-none d-block text-left">
                                <a href="{% url "rabah_dashboard:home_page" %}">
                                    <h3 style="color: gray">Rabah</h3>
                                </a>
                            </div>
                            <ul>
                                <li class="has-child-menu">
                                    <a class="{% if request.resolver_match.view_name == 'rabah_dashboard:home_page' %}active{% endif %}"
                                       href="{% url "rabah_dashboard:home_page" %}">Home</a>

                                </li>
                                <li>
                                    <a class="{% if request.resolver_match.view_name == 'rabah_dashboard:about_us' %}active{% endif %}"
                                       href="{% url "rabah_dashboard:about_us" %}">About us</a>
                                </li>

                                <li><a href="{% url "rabah_dashboard:contact_us" %}"
                                       class="d-none d-md-block {% if request.resolver_match.view_name == 'rabah_dashboard:contact_us' %}active{% endif %}">Contact
                                    Us</a>
                                </li>


                            </ul>
                            <div class="btn-wrap mobile-btn-wrap d-block d-lg-none">
                                <div class="d-flex flex-column">
                                    <a class=" menu-btn mb-4" href="{% url "account_login" %}"
                                       style="color: whitesmoke;">Login
                                    </a>
                                    <a class=" menu-btn mb-4" href="{% url "account_signup" %}"
                                       style="color: whitesmoke; ">Register
                                    </a>

                                    <a class="common-btn menu-btn" href="{% url "rabah_dashboard:contact_us" %}">Contact
                                        Us</a>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="col-xl-3 col-lg-3  d-none d-lg-flex justify-content-end">
                        <div class="btn-wrap menu-btn-wrap">
                            <a class="common-btn menu-btn" href="{% url "account_login" %}">Login</a>
                        </div>
                        <div class="btn-wrap menu-btn-wrap">
                            <a class="common-btn menu-btn" href="{% url "account_signup" %}">Sign Up</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </nav>

    {% block home_page %}

    {% endblock %}
</header>

{% block content %}

{% endblock %}
{% comment %}

<div class="blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="section-title portfolio-section-title text-center">
                    <h4>BLOG</h4>
                    <h2>See Whats New From Us</h2>
                </div>
            </div>
        </div>
        <div class="row mt-50">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="blog-box-wrap">
                    <div class="blog-box-img">
                        <img src="{% static "landing_page/assets/images/blog/blog-img-1.png" %}" alt>
                        <div class="blog-box-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-calendar-alt"></i>18 September 2021</a></li>
                                <li><a href="#"><i class="fas fa-user-alt"></i>Aysegul Coskun</a></li>
                                <li><a href="#"><i class="far fa-comments"></i>57 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-box-content">
                        <div class="section-title section-title-one-design">
                            <h4>Business Tips</h4>
                            <h2><a href="blog-details.html">Your most unhappy customer are your great source of
                                learning.</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="blog-box-wrap">
                    <div class="blog-box-img">
                        <img src="{% static "landing_page/assets/images/blog/blog-img-2.png" %}" alt>
                        <div class="blog-box-meta">
                            <ul>
                                <li><a href="#"><i class="far fa-calendar-alt"></i>18 September 2021</a></li>
                                <li><a href="#"><i class="fas fa-user-alt"></i>Aysegul Coskun</a></li>
                                <li><a href="#"><i class="far fa-comments"></i>57 Comments</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="blog-box-content">
                        <div class="section-title section-title-one-design">
                            <h4>Business Tips</h4>
                            <h2><a href="blog-details.html">That happy customers are our great source of asset.</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="btn-wrap blog-btn-wrap text-center">
                <a class="common-btn blog-btn" href="blog-grid.html">View All</a>
            </div>
        </div>
    </div>
    <img class="shape blog-bottom-shape" src="{% static "landing_page/assets/images/team/team-dot-shape.png" %}" alt>
</div>
{% endcomment %}


<div class="footer-area mt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                <div class="footer-wrap">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
                            <div class="single-widget ">
                                <div class="footer-logo">
                                    <a href="{% url "rabah_dashboard:home_page" %}">
                                        <h3 style="color: gray">Rabah </h3>
                                    </a>
                                    <p>Welcome to Rabah- A community dedicated to spreading love, faith, and compassion.
                                        Join us in worship, fellowship, and service as we journey together in our
                                        faith.</p>
                                </div>
                                <div class="footer-social">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-5">
                            <div class="single-widget">
                                <div class="footer-title">
                                    <h4>Explore</h4>
                                    <div class="footer-link">
                                        <ul>
                                            <li><a href="{% url "rabah_dashboard:home_page" %}">Home</a></li>
                                            <li><a href="{% url "rabah_dashboard:about_us" %}">About Us</a></li>
                                            <li><a href="#">Our Blog</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-7">
                            <div class="single-widget">
                                <div class="footer-title">
                                    <h4>Contact Us</h4>
                                    <div class="footer-address">
                                        <i class="bx bx-location-plus"></i>
                                        <span>Location  <br> Europe </span>
                                    </div>
                                    <div class="footer-address">
                                        <i class="bx bx-phone"></i>
                                        <span><a href="tel:880123456789">+880 1234 56789</a> </span>
                                    </div>
                                    <div class="footer-address">
                                        <i class="bx bx-envelope"></i>
                                        <span><a
                                                href="/cdn-cgi/l/email-protection#bdd4d3dbd2fdd8c5dcd0cdd1d893ded2d0"><span
                                                class="__cf_email__" data-cfemail="264f48404966435e474b564a430845494b">info@rabah360.com</span></a> <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                            <div class="single-widget">
                                <div class="footer-title">
                                    <h4>Newsletter</h4>
                                    <form action="#" class="footer-news-form">
                                        <input type="text" placeholder="Put your email here">
                                        <button>Subscribe</button>
                                    </form>
                                    <p class="footer-form-title">Sign up for our latest news & articles. We won’t give
                                        you spam mails.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static "landing_page/assets/js/jquery-1.12.4.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/bootstrap.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/jquery.magnific-popup.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/owl.carousel.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/slick.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/jquery.mixitup.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/wow.min.js" %}"></script>

<script src="{% static "landing_page/assets/js/jquery.counterup.min.js" %}"></script>
<script src="{% static "landing_page/assets/js/counter-potnt.js" %}"></script>

<script src="{% static "landing_page/assets/js/main.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script>
    toastr.options.timeOut = 10000; // 3s
    toastr.options.progressBar = true; // 3s
</script>


{% if messages %}
    <script>

        {% for message in messages %}

            {% if message.tags == "info" or message.tags == 'success' %}
                toastr.info("{{ message }}", "Success",);
            {% else %}
                toastr.warning("{{ message }}");

            {% endif %}
        {% endfor %}

    </script>
{% endif %}

</body>

</html>