{% extends "landing_page/base.html" %}
{% load static %}


{% block home_page %}
    <div class="breadcrumb-area"
         style="background-image: {% static 'landing_page/assets/images/breadcrumb.png' %} !important; ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="breadcrumb-content text-center">
                        <h1>Contact Us</h1>
                        <div class="breadcrumb-link">
                            <p><a href="{% url "rabah_dashboard:home_page" %}">Home</a></p>
                            <span></span>
                            <p>Contact Us</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="contact-us-area mt-100 ">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="map-title">
                        <h2>Find Us On Map</h2>
                    </div>
                    <div class="location-map mt-50">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d269613.43863736914!2d-0.10395912123579425!3d51.50802616371906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sbd!4v1627129288257!5m2!1sen!2sbd"
                                style="border:0;" aria-hidden="false" tabindex="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="row mt-100">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="section-title about-section-title contact-help-section-title section-title-one-design">
                        <h4>Happy To Help</h4>
                        <h2>If you need someone to talk to, we’re here</h2>
                    </div>
                    <div class="contact-help-address mt-50">
                        <i class="fas fa-phone"></i>
                        <span><a href="tel:123456781233">+1234 5678 1233</a> <br> <a href="tel:880123456789">+880 1234 56789</a></span>
                    </div>
                    <div class="contact-help-address">
                        <i class="fas fa-envelope"></i>
                        <span><a href="/cdn-cgi/l/email-protection#137a7d757c53766b727e637f763d707c7e"><span
                                class="__cf_email__"
                                data-cfemail="e78e898188a7829f868a978b82c984888a">info@rabah360.com</span></a> </span>
                    </div>
                    <div class="contact-help-address ">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>3102 Bartlett Avenue <br> Southfield, MI 48075</span>
                    </div>
                    <div class="contact-help-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 both-small-50">
                    <div class="section-title about-section-title contact-help-section-title section-title-one-design">
                        <h4>Get In Touch</h4>
                        <h2>Want To Discuss Something more Important?</h2>
                    </div>
                    <form action="." method="POST"
                          class="contat-input contact-page-input mt-50">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <input type="email" name="email" placeholder="Email">
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <textarea name="message" id="message" cols="30" rows="5"
                                          placeholder="Write Message"></textarea>
                            </div>
                            <div class="blog-comments-btn-wrap">
                                <button type="submit" class="common-btn blog-comments-btn">Submit Comment</button>
                            </div>
                            <p class="form-message"></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

