{% extends "landing_page/base.html" %}
{% load static %}


{% block home_page %}

    <div class="hero-area-wrap d-lg-block d-none d-sm-none">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="hero-text-content">
                        <h1>Easy-to-use Church Management Software.</h1>
                        <p>Membership, check-in, integrated giving, service planning, and more!
                            <br/>
                            Start using powerful, yet intuitive, church management software that's been designed to help
                            you save time, reduce frustration, and accomplish your church's goals</p>
                        <div class="btn-wrap hero-btn-wrap mt-50">
                            <a class="common-btn hero-btn" href="about-us.html">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="hero-image-wrap">
                        <div class="hero-img">
                            <img src="{% static "landing_page/assets/images/background.png" %}" alt>
                        </div>
                        <div class="heor-time-shape">
                            <div class="heor-time-text">
                                <p>Rabah <br> Event Management</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="shape hero-shape-bottom-left"
             src="{% static "landing_page/assets/images/hero-bg-dot-shape-1.png" %}" alt>
        <img class="shape hero-shape-bottom-right"
             src="{% static "landing_page/assets/images/hero-angle-shape-2.svg" %}" alt>
    </div>


    <div class="hero-area-wrap d-lg-none d-block d-sm-block">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="hero-image-wrap">
                        <div class="hero-img">
                            <img src="{% static "landing_page/assets/images/background.png" %}" alt>
                        </div>
                        <div class="heor-time-shape">
                            <div class="heor-time-text">
                                <p>Mon-Fri <br> 9AM-6PM</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="hero-text-content">
                        <h1>Easy-to-use Church Management Software.</h1>
                        <p>Membership, check-in, integrated giving, service planning, and more!
                            <br/>
                            Start using powerful, yet intuitive, church management software that's been designed to help
                            you save time, reduce frustration, and accomplish your church's goals</p>
                        <div class="btn-wrap hero-btn-wrap mt-50">
                            <a class="common-btn hero-btn" href="about-us.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="hero-shape hero-shape-bottom-left"
             src="{% static "landing_page/assets/images/hero-bg-dot-shape-1.png" %}" alt>
        <img class="hero-shape hero-shape-bottom-right"
             src="{% static "landing_page/assets/images/hero-angle-shape-2.svg" %}" alt>
    </div>

{% endblock %}

{% block content %}

    <div class="about-us-section mt-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12 col-12">
                    <div class="about-img-wrap">
                        <div class="about-left-img">
                            <img src="https://thumbs.dreamstime.com/b/event-planning-working-desk-notebook-events-word-computer-pencil-notepad-clock-concept-98612010.jpg"
                                 alt>
                        </div>
                        <div class="about-text-shape-wrap">
                            <img src="{% static "https://thumbs.dreamstime.com/b/event-planning-working-desk-notebook-events-word-computer-pencil-notepad-clock-concept-98612010.jpg" %}"
                                 alt>
                            <div class="about-text-shape-content">
                                <h3>12+ Years</h3>
                                <h4>EXPERIENCE</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12 col-12 both-small-24">
                    <div class="about-text-content-wrap">
                        <div class="section-title about-section-title section-title-one-design">
                            <h4>EVENT MANAGEMENT</h4>
                            <h2>Efficiently organize and coordinate <br> events for your organization or church.</h2>
                        </div>
                        <div class="about-paragraph-content">
                            <p>Plan and manage various events to engage your community and promote fellowship.</p>
                            <p style="margin-bottom:0">Coordinate logistics, schedule volunteers, and ensure smooth
                                execution of events.</p>
                            <div class="btn-wrap about-btn-wrap mt-50">
                                <a class="common-btn about-btn" href="event-management.html">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="service-area mt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title service-section-title section-title-one-design">
                        <h4>SERVICE</h4>
                        <h2>What We’re Offering</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-lg-12">
                    <div class="service-slide-wrap owl-carousel">
                        <div class="single-service-box">
                            <div class="service-icon">
                                <i class="flaticon-computer"></i>
                            </div>
                            <div class="service-content">
                                <h4>01.SMOOTH TRANSITIION</h4>
                                <p>Transitioning to a new church management system can be daunting. We'll handle the
                                    migration process for you, ensuring a stress-free move to Rabah360. Our expert team
                                    will
                                    assist with importing your data, making the transition seamless.</p>
                                <a href="service-details.html">Read More<i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                        <div class="single-service-box">
                            <div class="service-icon">
                                <i class="flaticon-optimizing"></i>
                            </div>
                            <div class="service-content">
                                <h4>02.Dedicated Support</h4>
                                <p>Need assistance? We've got you covered. Rabah360 provides free email and phone
                                    support to
                                    address any questions or concerns you may have. Our support team is committed to
                                    helping
                                    you maximize your experience with our software..</p>
                                <a href="service-details.html">Read More<i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                        <div class="single-service-box">
                            <div class="service-icon">
                                <i class="flaticon-code"></i>
                            </div>
                            <div class="service-content">
                                <h4>03.User-Friendly Design</h4>
                                <p>You don't need an IT degree to manage your church effectively. Rabah360 features an
                                    intuitive interface designed to streamline workflows and encourage widespread
                                    adoption.
                                    Empower your staff and volunteers to utilize our platform with ease.</p>
                                <a href="service-details.html">Read More<i class="flaticon-right-arrow"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img class="shape service-shape-top-right" src="{% static "landing_page/assets/images/service-shape.png" %}"
             alt>
        <img class="shape service-shape-bottom-left" src="{% static "landing_page/assets/images/service-shape.png" %}"
             alt>
    </div>


    <div class="company-statistics-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="company-statistics-box-wrap">
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="statistics-box text-center">
                                    <div class="statistics-container d-table">
                                        <div class="statistics-icon d-table-cell">
                                            <i class="flaticon-goal"></i>
                                        </div>
                                    </div>
                                    <div class="statistics-countcount">
                                        <h4 class="counter">{{ user_count }}</h4> <span>+</span>
                                        <h6>Total Users</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="statistics-box text-center">
                                    <div class="statistics-container d-table">
                                        <div class="statistics-icon d-table-cell">
                                            <i class="flaticon-rating"></i>
                                        </div>
                                    </div>
                                    <div class="statistics-countcount">
                                        <h4 class="counter">{{ event_count }}</h4> <span>+</span>
                                        <h6>Events</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="statistics-box text-center">
                                    <div class="statistics-container d-table">
                                        <div class="statistics-icon d-table-cell">
                                            <i class="flaticon-gold"></i>
                                        </div>
                                    </div>
                                    <div class="statistics-countcount">
                                        <h4 class="counter">{{ organisation_count }}</h4> <span>+</span>
                                        <h6>Organisations</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
                                <div class="statistics-box text-center">
                                    <div class="statistics-container d-table">
                                        <div class="statistics-icon d-table-cell">
                                            <i class="flaticon-gold"></i>
                                        </div>
                                    </div>
                                    <div class="statistics-countcount">
                                        <h4 class="counter">{{ member_count }}</h4> <span>+</span>
                                        <h6>Members</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="pricing-area pt-100 pb-76">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title portfolio-section-title text-center">
                        <h4>PRICING</h4>
                        <h2>Best Pricings</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-50">
                <div class="col-xl-12 col-lg-12 col-sm-12 col-12">
                    <div class="toggle-btn text-center">
                        <label class="switch">
                            <input type="checkbox" id="checbox">

                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 47px;">


                {% if subscription_monthly is not None %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="price-content-box text-center">
                            <div class="price-top-content">
                                <h1>Silver</h1>
                                <h2 class="text2">${{ subscription_monthly.price }}/<sub>Per Month</sub></h2>
                            </div>
                            <div class="price-list mt-50">
                                <ul>

                                    <li>
                                        User roles and permissions
                                    </li>
                                    <li>
                                        Member data management
                                    </li>
                                    <li>
                                        Online and text giving capabilities
                                    </li>
                                    <li>
                                        Event registration forms
                                    </li>
                                    <li>
                                        Volunteer scheduling and reminders
                                    </li>
                                    <li>
                                        Event planning and coordination
                                    </li>

                                    <li>
                                        Building custom church websites
                                    </li>

                                </ul>
                            </div>
                            <div class="btn-wrap price-btn-wrap mt-50">
                                <a class="common-btn price-btn" href="{% url 'rabah_subscriptions:billing_card' subscription_monthly.id %}">Purchase Now</a>
                            </div>
                            <img class="shape price-shape-top-left"
                                 src="{% static "landing_page/assets/images/price-shape.svg" %}" alt>
                        </div>
                    </div>
                {% endif %}
                {% if subscription_quarterly is  not None %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="price-content-box text-center">
                            <div class="price-top-content">
                                <h1>Gold</h1>
                                <h2 class="text2">${{ subscription_quarterly.price }}/<sub>Quarterly</sub></h2>
                            </div>
                            <div class="price-list mt-50">
                                <ul>
                                    <li>
                                        User roles and permissions
                                    </li>
                                    <li>
                                        Member data management
                                    </li>
                                    <li>
                                        Online and text giving capabilities
                                    </li>
                                    <li>
                                        Event registration forms
                                    </li>
                                    <li>
                                        Volunteer scheduling and reminders
                                    </li>
                                    <li>
                                        Event planning and coordination
                                    </li>

                                    <li>
                                        Building custom church websites
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-wrap price-btn-wrap mt-50">
                                <a class="common-btn price-btn" href="{% url 'rabah_subscriptions:billing_card' subscription_quarterly.id %}">Purchase Now</a>
                            </div>
                            <img class="shape price-shape-top-left"
                                 src="{% static "landing_page/assets/images/price-shape.svg" %}" alt>
                        </div>
                    </div>
                {% endif %}
                {% if subscription_yearly is  not None %}
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="price-content-box text-center">
                            <div class="price-top-content">
                                <h1>Platinum</h1>
                                <h2 class="text2">${{ subscription_yearly.price }}/<sub>Per Year</sub></h2>
                            </div>
                            <div class="price-list mt-50">
                                <ul>
                                    <li>
                                        User roles and permissions
                                    </li>
                                    <li>
                                        Member data management
                                    </li>
                                    <li>
                                        Online and text giving capabilities
                                    </li>
                                    <li>
                                        Event registration forms
                                    </li>
                                    <li>
                                        Volunteer scheduling and reminders
                                    </li>
                                    <li>
                                        Event planning and coordination
                                    </li>

                                    <li>
                                        Building custom church websites
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-wrap price-btn-wrap mt-50">
                                <a class="common-btn price-btn" href="{% url 'rabah_subscriptions:billing_card' subscription_yearly.id %}">Purchase Now</a>
                            </div>
                            <img class="shape price-shape-top-left"
                                 src="{% static "landing_page/assets/images/price-shape.svg" %}" alt>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>


    <div class="subscribe-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="subscribe-content text-center">
                        <h2>Can’t find your desired service? Let us know.</h2>
                        <div class="btn-wrap subscribe-btn-wrap mt-50">
                            <a class="common-btn subscribe-btn" href="contact-us.html">Join Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="team-area pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-title portfolio-section-title text-center">
                        <h4>TEAM</h4>
                        <h2>Meet Our Creative Excelence</h2>
                    </div>
                </div>
            </div>
            <div class="row mt-50">
                <div class="team-slide-wrap owl-carousel">
                    <div class="single-team-box text-center">
                        <div class="team-image">
                            <img src="{% static "landing_page/assets/images/team/team-img-1.png" %}" alt>
                        </div>
                        <div class="team-content">
                            <h4>PST Braham</h4>
                            <p>CEO, Rabah</p>
                        </div>
                        <div class="team-social">
                            <ul>
                                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                        <img class="shape team-shape-top"
                             src="{% static "landing_page/assets/images/team/team-box-shape-1.svg" %}" alt>
                        <img class="shape team-shape-bottom"
                             src="{% static "landing_page/assets/images/team/team-box-shape-2.svg" %}" alt>
                    </div>

                </div>
            </div>
        </div>
        <img class="shape team-top-dot-shape" src="{% static "landing_page/assets/images/team/team-dot-shape.png" %}"
             alt>
    </div>

{% endblock %}