<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rabah</title>

</head>
<body style="margin: 0;padding: 0;font-family: Arial, sans-serif;">
<div class="separator" style="width: 100%;border-bottom: 2px solid #ddd;margin: 0 0;">
</div>
<header style="background-color: #f9f9f9;text-align: center;padding: 20px 0;">
    <img src="https://i.imgur.com/I5cp6YY.png" alt="Logo" style="width: 150px;">
</header>
<div class="separator" style="width: 100%;border-bottom: 2px solid #ddd;margin: 0 0;">
</div>

<!-- Add your content below the separator -->
<p style="line-height: 25px;padding-left: 20px;  ">
    {{ message|safe }}

</p>


</body>
</html>
