{% load static %}

<!doctype html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>

        {% block title %}

        {% endblock %}
    </title>
    <link href='https://fonts.googleapis.com/css?family=Cairo' rel='stylesheet'>

    <link rel="stylesheet" href="{% static "css/plugin.min.css" %}">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link rel="stylesheet" href="{% static "css/custom_style.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}" type="image/x-icon"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet"/>
    <style>
        body {
            font-family: 'Hind Siliguri', sans-serif;
            font-weight: normal;
        }

        b, strong {
            font-weight: normal;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
            font-family: "Cairo", sans-serif;
        }

        .bold {
            font-weight: normal;
        }


    </style>
    {% block css %}

    {% endblock %}
</head>

<body class=" side-menu  ">
<div class="mobile-search">

</div>
<div class="mobile-author-actions"></div>
<header class="header-top">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <div class="logo-area">
                <a class="navbar-brand" href="{% url "rabah_dashboard:home_page" %}">
                    <img class=" dark" src="{% static 'img/logo-dark.png' %}" alt="logo">
                    <img class="light" src="{% static 'img/logo-white.png' %}" alt="logo">
                </a>
                <a href="#" class="sidebar-toggle">
                    <img class="svg" src="{% static 'img/svg/align-center-alt.svg' %}" alt="img"></a>
            </div>

            {% if  request.user.is_authenticated %}

                <a href="#" class="customizer-trigger" id="customizer-trigger">
                    <i class="uil uil-edit-alt"></i>
                    <span>Organisation...</span>
                </a>
            {% endif %}

        </div>

        <div class="navbar-right">
            <ul class="navbar-right__menu">


                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="{% url "user:user_profile" %}" class="nav-item-toggle"><img
                                {% if request.user.user_profile.profileImageURL %}
                                    src="{{ request.user.user_profile.profileImageURL }}"
                                {% else %}
                                    src="{% static 'img/favicon.ico' %}"
                                {% endif %}
                                    alt=""
                                    class=" rounded-circle">
                            <span class="nav-item__title">{{ request.user.first_name }}<i
                                    class="las la-angle-down nav-item__arrow"></i></span>
                        </a>
                        <div class="dropdown-parent-wrapper">
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">

                                        <img
                                                {% if request.user.user_profile.profileImageURL %}
                                                    src="{{ request.user.user_profile.profileImageURL }}"
                                                {% else %}
                                                    src="{% static 'img/favicon.ico' %}"
                                                {% endif %}
                                                    alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <a href="{% url "user:user_profile" %}"><h6>{{ request.user.first_name }}</h6>
                                        </a>
                                    </div>
                                </div>
                                <div class="nav-author__options">

                                    <a href="{% url "user:custom_logout" %}" class="nav-author__signout">
                                        <i class="uil uil-sign-out-alt"></i> Sign Out</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>

            </ul>

            <div class="navbar-right__mobileAction d-md-none">
                <a href="#" class="btn-search">
                    <img src="{% static 'img/svg/search.svg' %}" alt="search" class="svg feather-search">
                    <img src="{% static 'img/svg/x.svg' %}" alt="x" class="svg feather-x"></a>
                <a href="#" class="btn-author-action">
                    <img class="svg" src="{% static "img/svg/more-vertical.svg" %}" alt="more-vertical"></a>
            </div>
        </div>

    </nav>
</header>
<main class="main-content">
    <div class="sidebar-wrapper">
        <div class="sidebar sidebar-collapse" id="sidebar">
            <div class="sidebar__menu-group">
                <ul class="sidebar_nav">

                    {% if  request.user.is_authenticated %}
                        <li class="{% if request.resolver_match.view_name == 'rabah_dashboard:dashboard' %}active{% endif %}">
                            <a href="{% url "rabah_dashboard:dashboard" %}">
                                <span class="nav-icon uil "></span>
                                <span class="menu-text"
                                      onclick="window.location={% url "rabah_dashboard:dashboard" %} ">

                                </span>
                            </a>
                        </li>


                        <li class="{% if request.resolver_match.view_name == 'rabah_dashboard:dashboard' %}active{% endif %}">
                            <a href="{% url "rabah_dashboard:dashboard" %}">
                                <span class="nav-icon uil uil-create-dashboard"></span>
                                <span class="menu-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="{% if request.resolver_match.view_name == 'rabah_organisations:groups' %}active{% endif %}">
                            <a href="{% url "rabah_organisations:groups" %}">
                                <span class="nav-icon uil uil-users-alt"></span>
                                <span class="menu-text">Groups</span>
                            </a>
                        </li>


                        <li class="{% if request.resolver_match.view_name == 'rabah_members:members' %}active{% endif %}">
                            <a href="{% url "rabah_members:members" %}">
                                <span class="nav-icon uil uil-user"></span>
                                <span class="menu-text">Members</span>
                            </a>
                        </li>

                        <li class="{% if request.resolver_match.view_name == 'rabah_events:event_list' %}active{% endif %}">
                            <a href="{% url "rabah_events:event_list" %}">
                                <span class="nav-icon uil uil-create-dashboard"></span>
                                <span class="menu-text">Events</span>
                            </a>
                        </li>


                        <li class="{% if request.resolver_match.view_name == 'rabah_events:events' %}active{% endif %}">
                            <a href="{% url "rabah_events:events" %}">
                                <span class="nav-icon uil uil-create-dashboard"></span>
                                <span class="menu-text">Event Calendar</span>
                            </a>
                        </li>

                        <li class="{% if request.resolver_match.view_name == 'rabah_subscriptions:subscription_page' %}active{% endif %}">
                            <a href="{% url "rabah_subscriptions:subscription_page" %}">
                                <span class="nav-icon uil uil-credit-card-search"></span>
                                <span class="menu-text">Subscription</span>
                            </a>
                        </li>


                        <li class="has-child ">
                            <a href="#" class="">
                                <span class="nav-icon uil uil-window"></span>
                                <span class="menu-text">Contribution</span>
                                <span class="toggle-icon"></span>
                            </a>
                            <ul style="top: 454.167px; left: 214px; display: none;">
                                <li class="{% if request.resolver_match.view_name == 'rabah_contributions:add_contribution_type' %}active{% endif %}">
                                    <a href="{% url "rabah_contributions:add_contribution_type" %}">
                                        <span class="nav-icon uil uil-plus"></span>
                                        <span class="menu-text"> Add donation Type</span>
                                    </a>
                                </li>
                                <li class="{% if request.resolver_match.view_name == 'rabah_contributions:add_giving_transaction' %}active{% endif %}">
                                    <a href="{% url "rabah_contributions:add_giving_transaction" %}">
                                        <span class="nav-icon uil uil-plus"></span>
                                        <span class="menu-text"> Manage donations</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="{% if request.resolver_match.view_name == 'rabah_organisations:invited_organisations' %}active{% endif %}">
                            <a href="{% url "rabah_organisations:invited_organisations" %}">
                                <span class="nav-icon uil uil-credit-card-search"></span>
                                <span class="menu-text">Invitations</span>
                            </a>
                        </li>


                    {% endif %}

                    {% if not request.user.is_authenticated %}
                        <li class="{% if request.resolver_match.view_name == 'account_login' %}active{% endif %}">
                            <a href="{% url "account_login" %}">
                                <span class="nav-icon uil uil-signin"></span>
                                <span class="menu-text">Log In</span>
                            </a>
                        </li>

                    {% else %}
                        <li class="{% if request.resolver_match.view_name == 'user:custom_logout' %}active{% endif %}">
                            <a href="{% url "user:custom_logout" %}">
                                <span class="nav-icon uil uil-sign-out-alt"></span>
                                <span class="menu-text">Logout </span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="contents">
        <div class="container-fluid">
            {% if messages %}
                <!-- Dismiss All Button -->


                {% for message in messages %}
                    {% if message.tags == "info" or message.tags == 'success' %}

                        <div class="alert
                                    alert-success text-white bg-primary
                                    p-2 alert-dismissible fade show text-center text-capitalize shadow-sm sentence "
                             role="alert"
                        >
                            {{ message }}

                            <button type="button" class="btn-close text-capitalize dismiss-all-button"
                                    data-bs-dismiss="alert"
                                    aria-label="Close">
                                <img src="{% static "img/svg/x.svg" %}" alt="x" class="svg" aria-hidden="true"
                                     style="color: white">
                            </button>
                        </div>
                    {% else %}
                        <div class="alert
                                    alert-success text-white
                                    p-2 alert-dismissible fade show text-center text-capitalize shadow-sm sentence"
                             role="alert"
                             style="background-color: #9D2154">
                            {{ message }}

                            <button type="button" class="btn-close text-capitalize dismiss-all-button"
                                    data-bs-dismiss="alert"
                                    aria-label="Close">
                                <img src="{% static "img/svg/x.svg" %}" alt="x" class="svg" aria-hidden="true">
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            <div class="social-dash-wrap">

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</main>
<div id="overlayer">
    <div class="loader-overlay">
        <div class="dm-spin-dots spin-lg">
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
            <span class="spin-dot badge-dot dot-primary"></span>
        </div>
    </div>
</div>
<div class="overlay-dark-sidebar"></div>
<div class="customizer-overlay"></div>


<div class="customizer-wrapper  ">
    <div class="customizer">
        <div class="customizer__head">
            <h4 class="customizer__title">Sub-Organisations</h4>
            <span class="customizer__sub-title pt-3">These are the list of sub organisations under yours.</span>
            <a href="#" class="customizer-close" id="customizer-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="svg replaced-svg" style="color: #ff4d4f;">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </a>
        </div>
        <div class="customizer__body">

            <div class="row">
                {% if sub_organisations %}
                    {% for sub_organisation in sub_organisations %}
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ sub_organisation.name|capfirst }}</h5>
                                    <p class="card-text" style=" font-size: 14px">Subscription
                                        Status: {{ sub_organisation.subscription_status|yesno:"Active,In Active" }}</p>
                                    <p class="card-text" style=" font-size: 14px">Member
                                        Count: {{ sub_organisation.member_count }}</p>
                                    <p class="card-text" style=" font-size: 14px">Group
                                        Count: {{ sub_organisation.group_count }}</p>
                                    {% if sub_organisation.subscription_status %}

                                        {% if request.COOKIES.organisation_id != sub_organisation.id|stringformat:"s" %}
                                            <a href="#" class="btn btn-primary float-end btn-sm"
                                               onclick="setAndRedirect(`{{ sub_organisation.id }}`)">Switch</a>
                                        {% else %}
                                            <a href="#" class="btn btn-danger float-end btn-sm"
                                               onclick="setAndRedirect(`{{ request.COOKIES.parent_organisation_id }}`)">Revert</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" class="btn btn-gray float-end btn-sm">Switch</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>


        </div>
    </div>
</div>


<script src="{% static "js/plugins.min.js" %}"></script>
<script src="{% static "js/script.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script src="{% static "js/main.js" %}"></script>
<script>
    toastr.options.timeOut = 10000; // 3s
    toastr.options.progressBar = true; // 3s
</script>

<script>

    document.getElementById('customizer-trigger').addEventListener('click', function () {
        document.querySelector('.customizer-wrapper').classList.toggle('show');
    });
    document.getElementById('customizer-close').addEventListener('click', function () {
        document.querySelector('.customizer-wrapper').classList.toggle('show');
    });

</script>

<script>
    function setAndRedirect(organisation_id) {
        // Set the organization ID in a cookie
        document.cookie = `organisation_id=${organisation_id}; path=/`;

        // Redirect to the dashboard or any other URL
        window.location.href = '{% url "rabah_dashboard:dashboard" %}';
    }
</script>


{% block script %}



{% endblock %}

</body>

</html>


