{% extends "dashboard/base.html" %}
{% load crispy_forms_filters %}


{% block css %}

{% endblock %}

{% block title %}
    Contribution Type | Rabah
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Contribution Type</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url "rabah_dashboard:dashboard" %}"><i
                                        class="uil uil-estate"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Donation</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-12">

                <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                    <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                            <thead>
                            <tr class="userDatatable-header">
                                <th>
                                    <span class="userDatatable-title">Name</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Date Created</span>
                                </th>
                                <th>
                                    <span class="userDatatable-title">Amount Contributed</span>
                                </th>


                                <th>
                                    <span class="userDatatable-title float-end">action</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for contribution_type in contribution_types %}

                                <tr>
                                    <td>
                                        <div class="userDatatable-content">
                                            <a href="{% url "rabah_contributions:contributions" contribution_type.id %}">{{ contribution_type.name }}</a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ contribution_type.timestamp }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="userDatatable-content">
                                            {{ contribution_type.get_amount_contributed }}
                                        </div>
                                    </td>

                                    <td>
                                        <ul class="orderDatatable_actions mb-0 d-flex flex-wrap" style="justify-content: flex-end !important;">

                                            <li>
                                                <a href="#" class="edit" data-bs-toggle="modal"
                                                   data-bs-target="#contribution_type_{{ contribution_type.id }}">
                                                    <i class="uil uil-edit"></i>
                                                </a>


                                                <div class="modal fade new-member "
                                                     id="contribution_type_{{ contribution_type.id }}" role="dialog"
                                                     tabindex="-1"
                                                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered">
                                                        <div class="modal-content  radius-xl">
                                                            <div class="modal-header">
                                                                <h6 class="modal-title fw-500" id="staticBackdropLabel">
                                                                    Update Contribution Type</h6>
                                                                <button type="button" class="close"
                                                                        data-bs-dismiss="modal" aria-label="Close">
                                                                    <i class="uil uil-multiply"></i>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="new-member-modal">
                                                                    <form method="post"
                                                                          action="{% url "rabah_contributions:update_contribution_type" contribution_type.id %}"
                                                                          enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <div id="div_id_name" class="form-group"><label
                                                                                for="id_name" class=" requiredField">
                                                                            Name<span class="asteriskField">*</span>
                                                                        </label>
                                                                            <div><input type="text" name="name"
                                                                                        maxlength="250"
                                                                                        value="{{ contribution_type.name }}"
                                                                                        class="textinput textInput form-control"
                                                                                        required="" id="id_name"></div>
                                                                        </div>
                                                                        <div class="button-group d-flex pt-25">
                                                                            <button class="btn btn-primary btn-default btn-squared text-capitalize"
                                                                                    type="submit">
                                                                                update
                                                                            </button>
                                                                            <button type="button"
                                                                                    class="btn btn-light btn-default btn-squared fw-400 text-capitalize b-light color-light"
                                                                                    data-bs-dismiss="modal">cancel
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="{% url "rabah_contributions:delete_contribution_type" contribution_type.id %}"
                                                   class="remove">
                                                    <i class="uil uil-trash-alt"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end pt-30">
                        <nav class="dm-page">
                            <ul class="dm-pagination d-flex">
                                {% if contribution_types.has_previous %}
                                    <li class="dm-pagination__item">
                                        <a href="?page=1" class="dm-pagination__link pagination-control">
                                            <span class="la la-angle-left"></span>
                                        </a>
                                    </li>
                                {% endif %}

                                {% for page in contribution_types.paginator.page_range %}
                                    <li class="dm-pagination__item ">
                                        <a href="?page={{ page }}"
                                           class="dm-pagination__link {% if contribution_types.number == page %}active{% endif %}">
                                            <span class="page-number">{{ page }}</span>
                                        </a>
                                    </li>
                                {% endfor %}

                                {% if contribution_types.has_next %}
                                    <li class="dm-pagination__item">
                                        <a href="?page={{ contribution_types.paginator.num_pages }}"
                                           class="dm-pagination__link pagination-control">
                                            <span class="la la-angle-right"></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>


            </div>
            <div class="col-lg-6">
                <div class="card card-default  mb-4">
                    <div class="card-header">
                        <h6>Add Donation</h6>
                    </div>
                    <div class="card-body mx-md-5">
                        <form action="{% url "rabah_contributions:add_contribution_type" %}" method="post">
                            {% csrf_token %}
                            {{ form|crispy }}

                            <button type="submit" class="btn btn-primary float-end">Add Contribution Type</button>
                        </form>

                    </div>
                </div>

            </div>


        </div>
    </div>
{% endblock %}


{% block script %}

{% endblock %}