{% extends "dashboard/base.html" %}
{% load tz %}
{% load static %}
{% load crispy_forms_filters %}


{% block css %}

    <style>
        .fc-event-main {
            color: var(--color-primary) !important;
        }

        .flatpickr-day.selected {
            background-color: white !important;
            color: black !important;
            border-color: black !important;
        }

        /* Custom styles for the today's date */
        .flatpickr-day.today {
            background-color: var(--color-primary) !important; /* Set the background color for today's date */
            color: #fff; /* Set the text color for today's date */
        }

        .fc-timegrid-event {
            background-color: var(--color-primary) !important;
            color: whitesmoke !important;
        }

        .fc-event-main {
            color: whitesmoke !important;
        }

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">


{% endblock %}


{% block title %}
    Event | Rabah
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">calendar</h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">calendar</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="row calendar-grid justify-content-center">
            <div class="col-xxl-3 col-xl-5 col-md-6 col-sm-8">
                <div class="dm-calendar-left">
                    <button class="btn btn-primary btn-lg btn-create-event" data-bs-toggle="modal"
                            data-bs-target="#c-event-modal">
                        <img class="svg" src="img/svg/plus.svg" alt>Create New Event
                    </button>
                    <div class="card card-md mb-4">
                        <div class="card-body px-10">
                            <input type="text" id="datepicker" readonly style="display: none">

                        </div>
                    </div>
                    <div class="card card-md mb-4">
                        <div class="card-body">
                            <div class="draggable-events" id="draggable-events">
                                <div class="draggable-events__top d-flex justify-content-between">
                                    <h6>Todays Events</h6>
                                    <a href="#">
                                        <img class="svg" src="{% static  "img/svg/plus.svg" %}" alt></a>
                                </div>
                                <ul class="draggable-event-list">
                                    {% for todays_event in todays_events %}
                                        <li class="draggable-event-list__single d-flex align-items-center"

                                            data-class="primary">
                                            <span class="badge-dot badge-primary"></span>
                                            <span class="event-text">{{ todays_event.name }}</span>
                                        </li>

                                    {% endfor %}


                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-xxl-9 col-xl-7">
                <div class="card card-default card-md mb-4">
                    <div class="card-body">
                        <div id='full-event-calendar'></div>

                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="c-event-modal modal fade" id="c-event-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md c-event-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title">Create Event</h6>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="c-event-form">
                        <form action="." method="post" action="." enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                {{ form.organisation_id }}
                                <div class="col-12">
                                    {{ form.name|as_crispy_field }}
                                </div>
                                <div class="col-12">
                                    {{ form.description|as_crispy_field }}
                                </div>
                                <div class="col-12">
                                    {{ form.image|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.start_date|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.end_date|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.repeat|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.repeat_end|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.repeat_count|as_crispy_field }}
                                </div>
                                <div class="col-6">
                                    {{ form.repeat_until_date|as_crispy_field }}
                                </div>

                            </div>
                            <div class="d-flex justify-content-between">
                                <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Cancel
                                </button>

                                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

   



{% endblock %}

{% block script %}




    {% comment %} Calender date {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#datepicker", {
            // Options here
            inline: true, // Show the calendar inline
            dateFormat: "Y-m-d", // Date format
            prevArrow: '<i class="uil uil-angle-left-b" style="font-size: 30px !important;"></i>', // Custom previous month arrow
            nextArrow: '<i class="uil uil-angle-right-b" style="font-size: 30px !important;"></i>', // Custom next month arrow
            onChange: function (selectedDates, dateStr, instance) {
                calendar.gotoDate(selectedDates[0]);
            }
        });
    </script>


    <script>
        // Function to get the current date and 100 years from now
        function getDateLimits() {
            var currentDate = new Date();
            var minDate = new Date(currentDate);
            var maxDate = new Date(currentDate);
            maxDate.setFullYear(currentDate.getFullYear() + 1);
            return {currentDate: currentDate, minDate: minDate, maxDate: maxDate};
        }

        // Function to set date limits for a given date input
        function setDateLimits(inputElement) {
            var dateLimits = getDateLimits();
            if (inputElement.type === 'datetime-local') {
                inputElement.min = dateLimits.currentDate.toISOString().slice(0, 16);
                inputElement.max = dateLimits.maxDate.toISOString().slice(0, 16);
            } else if (inputElement.type === 'date') {
                inputElement.min = dateLimits.currentDate.toISOString().slice(0, 10);
                inputElement.max = dateLimits.maxDate.toISOString().slice(0, 10);
            }
        }

        // Apply date limits to all datetime-local and date inputs
        var dateInputs = document.querySelectorAll("input[type='datetime-local'], input[type='date']");
        dateInputs.forEach(function (input) {
            setDateLimits(input);
        });


    </script>

    {% comment %}Event Create form {% endcomment %}
    <!-- Your form HTML -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Function to toggle visibility of repeat related fields
            function toggleRepeatFields() {
                var repeatOption = document.getElementById("id_repeat").value;  // Assuming "id_repeat" is the ID of your repeat select field
                var repeatEndOption = document.getElementById("id_repeat_end").value;  // Assuming "id_repeat_end" is the ID of your repeat_end select field

                // Check the selected repeat option and toggle fields accordingly
                if (repeatOption === "DAILY" || repeatOption === "WEEKLY" || repeatOption === "MONTHLY" || repeatOption === "YEARLY") {
                    document.getElementById("div_id_repeat_end").style.display = "block";

                    // Check the selected repeat_end option and toggle fields accordingly
                    if (repeatEndOption === "AFTER") {
                        document.getElementById("div_id_repeat_count").style.display = "block";
                        document.getElementById("div_id_repeat_until_date").style.display = "none";
                    } else if (repeatEndOption === "ON_DATE") {
                        document.getElementById("div_id_repeat_count").style.display = "none";
                        document.getElementById("div_id_repeat_until_date").style.display = "block";
                    } else {
                        document.getElementById("div_id_repeat_count").style.display = "none";
                        document.getElementById("div_id_repeat_until_date").style.display = "none";
                    }
                } else {
                    document.getElementById("div_id_repeat_end").style.display = "none";
                    document.getElementById("div_id_repeat_count").style.display = "none";
                    document.getElementById("div_id_repeat_until_date").style.display = "none";
                }
            }

            // Initial toggle when the page loads
            toggleRepeatFields();

            // Bind the toggle function to the change event of the repeat select field
            document.getElementById("id_repeat").addEventListener("change", function () {
                toggleRepeatFields();
            });

            // Bind the toggle function to the change event of the repeat_end select field
            document.getElementById("id_repeat_end").addEventListener("change", function () {
                toggleRepeatFields();
            });
        });
    </script>



 

   

   <!-- JavaScript function to load event detail for modal preview  -->
    <script>
       function loadEventContent(eventId) {
            // AJAX request to fetch event details
            $.ajax({
                url: '/event/get_event_detail/'+eventId,  // URL to your Django endpoint
                method: 'GET',
                data: {event_id: eventId},
                success: function (data) {
                    // Create modal dynamically with fetched event details
                    var modalContent = `
                    <div class="e-info-modal-${eventId} e-info-modal modal fade" id="e-info-modal-${eventId}" tabindex="-1"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-sm e-info-dialog modal-dialog-centered" id="c-event" role="document">
                <div class="modal-content">
                    <div class="modal-header e-info-header bg-primary">
                        <h6 class="modal-title e-info-title">${data.name}</h6>
                        <div class="e-info-action">
                            <a href="/event/event_update/${eventId}/" class="btn-icon">
                                <img class="svg" src="{% static "img/svg/edit.svg" %}" alt="edit">
                            </a>

                            <button class="btn-icon">
                                <a href="/event/event_delete/${eventId}" class="svg">
                                    <img class="svg"
                                         src="{% static 'img/svg/trash-2.svg' %}"
                                         alt="trash">
                                </a>
                            </button>
                            <button type="button" class="btn-icon btn-closed" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <i class="uil uil-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 d-flex flex-column justify-content-center align-center">
                                <img src="{% static "img/service_plan.png" %}" alt=""
                                     style="object-fit: contain; height: 50%; width: 50%; margin-bottom: 10px">
                                <a href="/event/mark_attendance/${eventId}"
                                   class="btn btn-lg btn-secondary" style="width: 100%; max-height: 10px">Check
                                    In
                                </a>
                            </div>
                            <div class="col-6 d-flex flex-column justify-content-center align-center  ">
                                <img src="{% static "img/event_detail.png" %}" alt=""
                                     style="object-fit: contain; height: 50%; width: 50%; margin-bottom: 10px">

                                <button class="btn btn-lg btn-primary" data-bs-toggle="modal"
                                 onclick="loadEventDetail('${eventId}')"
                                        
                                        style="width: 100%; max-height: 10px">Event
                                    Detail
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>`;

                    // Remove existing detail modal if it exists
                    $('#e-info-modal-' + eventId).remove();

                    // Append new modal to the body
                    $('body').append(modalContent);

                    // Show the modal
                    $(`#e-info-modal-${eventId}`).modal('show');
                },
                error: function (error) {
                    console.error('Error fetching event details:', error);
                }
            });
        }
        
        function loadEventDetail(eventId) {
            // AJAX request to fetch event details
            $.ajax({
                url: '/event/get_event_detail/'+eventId,  // URL to your Django endpoint
                method: 'GET',
                data: {event_id: eventId},
                success: function (data) {
                    // Create modal dynamically with fetched event details
                    var modalContent = `
                    <div class="e-info-modal-detail-${eventId}  e-info-modal modal fade" id="e-info-modal-detail-${eventId}"
             tabindex="-1"
             role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-sm e-info-dialog modal-dialog-centered" id="c-event" role="document">
                <div class="modal-content">
                    <div class="modal-header e-info-header bg-primary">
                        <h6 class="modal-title e-info-title">${data.name}</h6>
                        <div class="e-info-action">
                            <button class="btn-icon">
                                <img class="svg" src="{% static "img/svg/edit.svg" %}" alt="edit">
                            </button>

                            <button class="btn-icon">
                                <a href="/event/event_delete/${eventId}" class="svg">
                                    <img class="svg"
                                         src="{% static 'img/svg/trash-2.svg' %}"
                                         alt="trash">
                                </a>
                            </button>
                            <button type="button" class="btn-icon btn-closed" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <i class="uil uil-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="modal-body" style="min-height: 50vh">
                        <ul class="e-info-list">
                            <li>
                                <img class="svg" src="{% static 'img/svg/chevron-right.svg' %}" alt="chevron-right.svg">
                                <span class="list-line">
                                <span class="list-label">Start Date :</span>
                                <span class="list-meta"> ${data.start_date}</span>
                                </span>
                            </li>
                            <li>
                                <img class="svg" src="{% static 'img/svg/chevron-right.svg' %}" alt="chevron-right.svg">
                                <span class="list-line">
                                <span class="list-label">End Date :</span>
                                <span class="list-meta"> ${data.end_date}</span>
                                </span>
                            </li>
                            <li>
                                <img class="svg" src="{% static 'img/svg/align-left.svg' %}" alt="align-left">
                                <span class="list-line">
                <span class="list-text"> ${data.description}</span>
                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>`;

                    // Remove existing detail modal if it exists
                    $('#e-info-modal-detail-' + eventId).remove();

                    // Append new modal to the body
                    $('body').append(modalContent);

                    // Show the modal
                    $(`#e-info-modal-detail-${eventId}`).modal('show');
                },
                error: function (error) {
                    console.error('Error fetching event details:', error);
                }
            });
        }
    </script>


    {% comment %} Calender{% endcomment %}
    <script>

        console.log("{{ events }}")
        


        var calendar;  // Declare the calendar variable in an accessible scope

        var calendarEl = document.getElementById("full-event-calendar");
        if (calendarEl) {
            // Initialize calendar variable before the AJAX request
            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: "today,prev,title,next",
                    right: "timeGridDay,timeGridWeek,dayGridMonth,listMonth"
                },
                views: {
                    listMonth: {
                        buttonText: "List",
                        titleFormat: {
                            month: "short",
                            weekday: "short"
                        }
                    }
                },
                listDayFormat: true,
                listDayAltFormat: true,
                allDaySlot: false,
                editable: true,
                contentHeight: 800,
                initialView: "timeGridDay",
                eventDidMount: function (event) {
                    $(".fc-list-day").each(function () {
                    });
                },
                eventClick: function (event) {
                    console.log(event.event.id);

                    // Get the clicked date
                    var clickedDate = event.event.start;


                    // Move the calendar to the clicked date
                    calendar.gotoDate(clickedDate);

                    loadEventContent(event.event.id);


                }
            });

            // AJAX request to fetch event data
            $.ajax({
                url: `{% url "rabah_events:event_calendar" %}`,
                type: "GET",
                success: function (data) {
                    // Clear existing events before adding new ones
                    calendar.getEvents().forEach(function (event) {
                        event.remove();
                    });

                    // Add new events
                    calendar.addEventSource(data);

                    // Render the calendar after clearing existing events and adding new ones
                    calendar.render();
                    $(".fc-button-group .fc-listMonth-button").prepend('<i class="las la-list"></i>');


                },
                error: function (error) {
                    console.error("Error fetching events:", error);
                }
            });
        }


    </script>



{% endblock %}
