{% extends "dashboard/base.html" %}
{% load crispy_forms_filters %}

{% block css %}
    <style>
        .custom_card_height {
            min-height: 493px !important;
        }
    </style>

{% endblock %}

{% block title %}
  Group Detal | Rabah
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main application-ui mb-30">
                    <div class="breadcrumb-action d-flex">
                        <div class="d-flex align-items-center user-member__title me-sm-25 me-0">
                            <h4 class="text-capitalize fw-500 breadcrumb-title">{{ group.name|title }}</h4>
                        </div>


                    </div>
                    <div class="d-flex text-capitalize">
                        <button type="button" data-bs-toggle="modal" data-bs-target="#new-group"
                                class="breadcrumb-edit btn btn-white border-0 color-primary content-center fs-12 fw-500 radius-md">
                            <i class="uil uil-edit"></i>
                            edit


                        </button>

                    </div>
                </div>
            </div>
        </div>

        <div class="projects-tab-content mb-30">
            <div class="row">
                <div class="col-xxl-3 col-lg-4 mb-25">
                    <div class="card custom_card_height">
                        <div class="card-body">
                            <div class="application-task d-flex align-items-center mb-25">
                                <div class="application-task-icon wh-60 bg-opacity-secondary content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25.001" height="25.001"
                                         viewBox="0 0 25.001 25.001" class="svg wh-25 text-secondary replaced-svg">
                                        <g id="Group_1637" data-name="Group 1637" transform="translate(-145 -356.119)">
                                            <path id="Rectangle_564" data-name="Rectangle 564"
                                                  d="M1.823,0H23.177A1.823,1.823,0,0,1,25,1.823v2.6A1.822,1.822,0,0,1,23.179,6.25H1.822A1.822,1.822,0,0,1,0,4.428v-2.6A1.823,1.823,0,0,1,1.823,0Z"
                                                  transform="translate(145 356.119)" fill="#5f63f2"></path>
                                            <path id="Path_1020" data-name="Path 1020"
                                                  d="M169.219,366.536h-15.1a.781.781,0,0,0,0,1.563h15.1a.781.781,0,1,0,0-1.563Z"
                                                  fill="#5f63f2" opacity="0.5"></path>
                                            <path id="Path_1021" data-name="Path 1021"
                                                  d="M169.219,369.661h-15.1a.781.781,0,0,0,0,1.563h15.1a.781.781,0,1,0,0-1.563Z"
                                                  fill="#5f63f2" opacity="0.5"></path>
                                            <path id="Path_1022" data-name="Path 1022"
                                                  d="M169.219,375.912h-15.1a.781.781,0,0,0,0,1.562h15.1a.781.781,0,1,0,0-1.562Z"
                                                  fill="#5f63f2" opacity="0.5"></path>
                                            <path id="Path_1023" data-name="Path 1023"
                                                  d="M169.219,379.037h-15.1a.781.781,0,0,0,0,1.562h15.1a.781.781,0,1,0,0-1.562Z"
                                                  fill="#5f63f2" opacity="0.5"></path>
                                            <circle id="Ellipse_114" data-name="Ellipse 114" cx="3.125" cy="3.125"
                                                    r="3.125" transform="translate(145 365.494)"
                                                    fill="#5f63f2"></circle>
                                            <circle id="Ellipse_115" data-name="Ellipse 115" cx="3.125" cy="3.125"
                                                    r="3.125" transform="translate(145 374.869)"
                                                    fill="#5f63f2"></circle>
                                        </g>
                                    </svg>
                                </div>
                                <div class="application-task-content">
                                    <h4>{{ group.members_count }}</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">total members</span>
                                </div>
                            </div>
                            <div class="application-task d-flex align-items-center mb-25">
                                <div class="application-task-icon wh-60 bg-opacity-primary content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25"
                                         class="svg wh-25 text-primary replaced-svg">
                                        <g id="Group_1638" data-name="Group 1638" transform="translate(-125.744 -128)">
                                            <path id="Path_1024" data-name="Path 1024"
                                                  d="M138.244,153a12.5,12.5,0,1,1,12.5-12.5A12.515,12.515,0,0,1,138.244,153Z"
                                                  transform="translate(0)" fill="#ff69a5"></path>
                                            <path id="Path_1025" data-name="Path 1025"
                                                  d="M167.584,178.25q0,.217.011.432a8.377,8.377,0,0,0,2.159,5.2l.017.02c.059.065.12.127.181.19.033.034.064.069.1.1s.069.065.1.1c.063.061.125.122.19.181l.02.017a8.376,8.376,0,0,0,5.2,2.159q.215.011.432.011a8.42,8.42,0,0,0,8.41-8.41.7.7,0,0,0-.7-.7H176.7v-7.008a.7.7,0,0,0-.7-.7A8.42,8.42,0,0,0,167.584,178.25Z"
                                                  transform="translate(-37.75 -37.75)" fill="#fff" opacity="0.5"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="application-task-content">
                                    <h4>34</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">task completed</span>
                                </div>
                            </div>
                            <div class="application-task d-flex align-items-center mb-25">
                                <div class="application-task-icon wh-60 bg-opacity-success content-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="21.084"
                                         viewBox="0 0 25 21.084" class="svg wh-25 text-success replaced-svg">
                                        <g id="Group_1641" data-name="Group 1641" transform="translate(0.003 -40.092)">
                                            <path id="Path_1032" data-name="Path 1032"
                                                  d="M21.838,40.316c-5.754,2.8-12.78,3.124-14.807,3.155H2.2a2.2,2.2,0,0,0-2.2,2.2C0,58.33-.012,57.6.025,57.761a1.032,1.032,0,0,0,.337.558h0a32.823,32.823,0,0,0,6.712.242,43.093,43.093,0,0,0,5.568-.449,33.64,33.64,0,0,0,10.3-3.014A10.782,10.782,0,0,0,25,54.1V42.3A2.2,2.2,0,0,0,21.838,40.316Zm1.106,12.457a30.741,30.741,0,0,1-10.591,3.306,62.237,62.237,0,0,1-10.3.431V45.672a.147.147,0,0,1,.147-.146h4.1a39.22,39.22,0,0,0,16.443-3.364.145.145,0,0,1,.206.134Z"
                                                  transform="translate(0)" fill="#20c997"></path>
                                            <path id="Path_1033" data-name="Path 1033"
                                                  d="M185.226,191.334a3.634,3.634,0,1,0-3.634-3.634A3.638,3.638,0,0,0,185.226,191.334Zm0-5.215a1.581,1.581,0,1,1-1.581,1.581,1.582,1.582,0,0,1,1.581-1.581Z"
                                                  transform="translate(-172.728 -136.944)" fill="#20c997"></path>
                                            <path id="Path_1034" data-name="Path 1034"
                                                  d="M374.849,133.237c.224,0,.173,0,1.889-.574a1.027,1.027,0,0,0-.649-1.948l-1.564.521a1.027,1.027,0,0,0,.324,2Z"
                                                  transform="translate(-355.572 -86.147)" fill="#20c997"
                                                  opacity="0.5"></path>
                                            <path id="Path_1035" data-name="Path 1035"
                                                  d="M65.142,314.276h1.564a1.027,1.027,0,0,0,0-2.053H65.142a1.027,1.027,0,0,0,0,2.053Z"
                                                  transform="translate(-60.987 -258.843)" fill="#20c997"
                                                  opacity="0.5"></path>
                                            <path id="Path_1036" data-name="Path 1036"
                                                  d="M32.114,327.06v2.752a2.2,2.2,0,0,1-1.159,1.938,23.608,23.608,0,0,1-11.009,2.383c-7.746,0-12.152-2.651-12.341-2.767a.97.97,0,0,1-.125-.091,32.823,32.823,0,0,0,6.712.242c4.9.993,11.4.8,15.788-1.573a.151.151,0,0,0,.081-.131v-1.758A10.783,10.783,0,0,0,32.114,327.06Z"
                                                  transform="translate(-7.117 -272.956)" fill="#20c997"
                                                  opacity="0.5"></path>
                                        </g>
                                    </svg>
                                </div>
                                <div class="application-task-content">
                                    <h4>$27,500</h4>
                                    <span class="text-light fs-14 mt-1 text-capitalize">Contributions</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-xxl-6 col-lg-8 mb-25">
                    <div class="card border-0 pb-md-50 pb-15 custom_card_height">
                        <div class="card-header py-sm-20 py-3  px-sm-25 px-3 ">
                            <h6>{{ group.name }}</h6>
                        </div>
                        <div class="card-body">
                            <div class="about-projects">
                                <div class="about-projects__details">
                                    <p class="fs-15 mb-25">
                                        {{ group.description|linebreaks }}
                                    </p>

                                </div>
                                <ul class="d-flex text-capitalize">
                                    <li>
                                        <span class="color-light fs-13">Group manager</span>
                                        <p class="color-dark fs-14 mt-1 mb-0 fw-500">{{ group.group_owner.user.first_name }} {{ group.group_owner.user.first_name }}</p>
                                    </li>
                                    <li>
                                        <span class="color-light fs-13">Contributions</span>
                                        <p class="color-dark fs-14 mt-1 mb-0 fw-500">$56,700</p>
                                    </li>
                                    <li>
                                        <span class="color-light fs-13">Created Date</span>
                                        <p class="color-primary fs-14 mt-1 mb-0 fw-500">{{ group.timestamp }}</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-xxl-3 col-lg-6 col-12 mb-25 order-xxl-0 order-lg-1">
                    <div class="card h-100 custom_card_height">
                        <div class="card-header d-flex justify-content-between align-items-center py-10  px-sm-25 px-3">
                            <h6 class="fw-500 ">admin users</h6>
                            <a  href="{% url "rabah_members:add_member" %}"
                                    class="border radius-lg color-primary fw-500 fs-12 bg-transparent acButton">
                                <i class="uil uil-user-plus px-2"></i>
                                add user
                            </a>
                        </div>
                        <div class="card-body" style=" max-height: 400px;  overflow-y: auto; ">
                            {% for member in group.random_10_admin_members %}

                                <div class="d-flex align-items-center mb-25">
                                    <img src="{{ member.user.user_profile.profileImageURL }}" class="wh-46 me-15"
                                         alt="img">
                                    <div>
                                        <p class="fs-14 fw-600 color-dark mb-0">{{ member.user.first_name }} {{ member.user.last_name }}</p>
                                        <span class=" mt-1 fs-14  color-light ">{{ member.user.user_profile.gender }}</span>
                                    </div>
                                </div>


                            {% endfor %}

                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                        <div class="table-responsive">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <div class="d-flex align-items-center">
                                            <div class="custom-checkbox  check-all">
                                                <label for="check-44">
                                                    <span class="checkbox-text userDatatable-title">user</span>
                                                </label>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">email</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">gender</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">position</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">join date</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">status</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>
                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable__imgWrapper d-flex align-items-center">

                                                    <a href="#" class="profile-image rounded-circle d-block m-0 wh-38"
                                                       style="background-image:url('{{ member.user.user_profile.profileImageURL }}'); background-size: cover;"></a>
                                                </div>
                                                <div class="userDatatable-inline-title">
                                                    <a href="{% url "rabah_members:group_member_detail" member.id %}" class="text-dark fw-500">
                                                        <h6>{{ member.user.first_name }} {{ member.user.last_name }}</h6>
                                                    </a>
                                                    <p class="d-block mb-0">
                                                        {{ member.user.user_profile.address }}
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.email }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.user_profile.gender }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.user_profile.career }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.date_joined }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content d-inline-block">
                                                {% if  member.is_active %}
                                                    <span class="bg-opacity-success  color-success rounded-pill userDatatable-content-status active">active</span>
                                                {% else %}
                                                    <span class="bg-opacity-danger  color-danger rounded-pill userDatatable-content-status ">in active</span>
                                                {% endif %}
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <div class="d-flex justify-content-end pt-30">
                            <nav class="dm-page">
                                <ul class="dm-pagination d-flex">
                                    <li class="dm-pagination__item">
                                        <a href="#" class="dm-pagination__link pagination-control">
                                            <span class="la la-angle-left"></span>
                                        </a>
                                        <a href="{% url "rabah_members:group_members"  group.id %}"
                                           class="dm-pagination__link active">
                                            <span class="page-number">View All</span>
                                        </a>
                                        <a href="#" class="dm-pagination__link pagination-control">
                                            <span class="la la-angle-right"></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>




    <div class="modal fade new-group" id="new-group" tabindex="-1"
         aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content  radius-xl">
                <div class="modal-header">
                    <h4 class="modal-title fw-500" id="staticBackdropLabel">Update Group</h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="uil uil-multiply"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="new-group-modal">
                        <form method="post" action="{% url "rabah_organisations:groups_update" group.id %}">
                            {% csrf_token %}
                            {{ group_update_form|crispy }}
                            {% if form.errors %}
                                <div class="alert alert-danger">
                                    <strong>Error:</strong>
                                    <ul>
                                        {% for field, error_list in group_update_form.errors.items %}
                                            {% for error in error_list %}
                                                <li>{{ field|capfirst }}: {{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            <div class="button-group d-flex pt-25">
                                <button class="btn btn-primary btn-default btn-squared text-capitalize"
                                        type="submit">
                                    update group
                                </button>
                                <button type="button"
                                        class="btn btn-light btn-default btn-squared fw-400 text-capitalize b-light color-light"
                                        data-bs-dismiss="modal">cancel
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}

{% block script %}

{% endblock %}