{% extends "dashboard/base.html" %}
{% load custom_filters %}
{% load custom_filters %}

{% block css %}
    <style>
        .custom-checkbox-input {
            display: inline-block;
            width: 30px;
            height: 30px;
            position: relative;
            cursor: pointer;

        }

        .table-container {
            height: 80vh; /* Set the desired height */
            overflow-y: scroll; /* Enable vertical scrolling */
            scrollbar-width: thin; /* Set the width of the scrollbar */
            scrollbar-color: #888888 #f0f0f0; /* Set the color of the scrollbar */
        }

        .toast-success{
            background: white;
            color: black !important;
        }

    </style>

{% endblock %}

{% block title %}
    Rabah | Mark Attendance
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-main">
                    <h4 class="text-capitalize breadcrumb-title">Mark Attendance | {{ event.name }}

                    </h4>
                    <div class="breadcrumb-action justify-content-center flex-wrap">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="uil uil-estate"></i>Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Attendance</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="search-result global-shadow rounded-pill bg-white">
                    <form action="{% url "rabah_events:mark_attendance" event.id %}"
                          class="d-flex align-items-center justify-content-between">
                        <div class="border-right d-flex align-items-center w-100  ps-25 pe-sm-25 pe-0 py-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="svg replaced-svg">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                            </svg>
                            <input class="form-control border-0 box-shadow-none" type="search"
                                   name="search"
                                   value="{{ request.GET.search|default_if_none:'' }}"
                                   placeholder="Search member" aria-label="Search">
                        </div>
                        <button type="button" class="border-0 bg-transparent px-25">search</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="search-keyword mt-20 mb-30">
                    <ul class="nav m-n1" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="all"
                               href="{% url "rabah_events:mark_attendance" event.id %}?status=all"
                               role="tab" aria-selected="true">all</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="present"
                               href="{% url "rabah_events:mark_attendance" event.id %}?status=PRESENT"
                               role="tab" aria-selected="false">Present</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="absent"
                               href="{% url "rabah_events:mark_attendance" event.id %}?status=ABSENT"
                               role="tab" aria-selected="false">Absent</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-xxl-6 col-sm-6 mb-25">

                <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                    <div class="overview-content w-100">
                        <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                            <div class="ap-po-details__titlebar">
                                <h1>{{ present_count }}+</h1>
                                <p>Present Members</p>
                            </div>
                            <div class="ap-po-details__icon-area">
                                <div class="svg-icon order-bg-opacity-primary color-primary">
                                    <i class="uil uil-user-check"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-xxl-6 col-sm-6 mb-25">

                <div class="ap-po-details ap-po-details--2 p-25 radius-xl d-flex justify-content-between">
                    <div class="overview-content w-100">
                        <div class=" ap-po-details-content d-flex flex-wrap justify-content-between">
                            <div class="ap-po-details__titlebar">
                                <h1>{{ absent_count }}</h1>
                                <p>Absent Members</p>
                            </div>
                            <div class="ap-po-details__icon-area">
                                <div class="svg-icon order-bg-opacity-info color-info">
                                    <i class="uil uil-user-minus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="userDatatable global-shadow border-light-0 p-30 bg-white radius-xl w-100 mb-30">
                    <div class="table-responsive">
                        <div class="table-container">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                <tr class="userDatatable-header">
                                    <th>
                                        <span class="userDatatable-title">User</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">Name</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">email</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">gender</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">position</span>
                                    </th>
                                    <th>
                                        <span class="userDatatable-title">join date</span>
                                    </th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for member in members %}
                                    <tr>


                                        <td>
                                            <div class="d-flex">

                                                <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                    <div class="checkbox-group-wrapper">
                                                        <div class="checkbox-group d-flex">
                                                            <div class="checkbox-theme-default custom-checkbox-input checkbox-group__single d-flex">
                                                                <div class="form-check form-switch form-switch-primary form-switch-md">
                                                                    <input type="checkbox" class="form-check-input"
                                                                           data-id="{{ member.id }}"
                                                                           id="check-grp-{{ member.id }}"
                                                                            {% is_checkbox_checked event.id member.id %}>
                                                                    <label class="form-check-label"
                                                                           for="switch-s6"></label>
                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url "rabah_members:group_member_detail" member.id %}"
                                                       class="profile-image rounded-circle d-block m-0 wh-38"
                                                       style="background-image:url('{{ member.user.user_profile.profileImageURL }}'); background-size: cover;margin-left: 50px !important;"></a>
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                <a href="{% url "rabah_members:group_member_detail" member.id %}"
                                                   class="text-dark fw-500">
                                                    <h6>{{ member.user.first_name }} {{ member.user.last_name }}</h6>
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.email }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.user_profile.gender }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.user_profile.career }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="userDatatable-content">
                                                {{ member.user.date_joined }}
                                            </div>
                                        </td>


                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="d-flex justify-content-end pt-30">
                        <nav class="dm-page ">
                            <ul class="dm-pagination d-flex">
                                {% if is_paginated %}
                                    <li class="dm-pagination__item">
                                        {% if page_obj.has_previous %}
                                            <a href="{% paginate_url page_obj.previous_page_number 'page' request.GET.urlencode %}"
                                               class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                        {% else %}
                                            <a href="#" class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-left"></span></a>
                                        {% endif %}
                                        {% get_proper_elided_page_range paginator page_obj.number as page_range %}
                                        {% for i in page_range %}
                                            {% if page_obj.number == i %}
                                                <a href="#" class="dm-pagination__link active"><span
                                                        class="page-number">{{ i }}</span></a>
                                            {% else %}
                                                <a href="{% paginate_url i 'page' request.GET.urlencode %}"
                                                   class="dm-pagination__link"><span
                                                        class="page-number">{{ i }}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                        {% if page_obj.has_next %}
                                            <a href="{% paginate_url page_obj.next_page_number 'page' request.GET.urlencode %}"
                                               class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>
                                        {% else %}
                                            <a href="#" class="dm-pagination__link pagination-control"><span
                                                    class="la la-angle-right"></span></a>

                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>

                </div>
            </div>
        </div>


    </div>
{% endblock %}


{% block script %}

    <script>
        {% comment %} Check box for all check box once clicked on the main check box{% endcomment %}
        document.addEventListener("DOMContentLoaded", function () {
            const groupCheckboxes = document.querySelectorAll("[id^='check-grp-']");


            // Add event listener for individual checkboxes
            groupCheckboxes.forEach(checkbox => {
                checkbox.addEventListener("change", function () {

                    // When an individual checkbox is clicked, submit its data to the backend
                    const checkboxData = [{id: this.getAttribute("data-id"), is_checked: this.checked}];
                    submitDataToBackend(checkboxData);
                });
            });

            function submitDataToBackend(data) {
                // Send the data to the backend
                fetch("{% url "rabah_events:mark_multiple_attendance" event.id  %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        'X-CSRFToken': '{{ csrf_token }}',
                    },
                    body: JSON.stringify({checkedCheckboxes: data}),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.text();
                    })
                    .then(data => {
                        // Handle the response if needed
                        var data = JSON.parse(data);
                        const message = data.message;
                        toastr.success(message, "Success",);
                    })
                    .catch(error => {
                        // Handle errors
                        toastr.warning('error marking attendance');

                        console.error('Error:', error);
                    });
            }
        });
    </script>


    {% comment %} Set the nav pill acitve base one the active nav{% endcomment %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Get the current status from the URL
            const urlParams = new URLSearchParams(window.location.search);
            const status = urlParams.get('status');

            // Remove 'active' class from all tabs
            const tabs = document.querySelectorAll('.nav-link');
            tabs.forEach(tab => {
                tab.classList.remove('active');
            });

            // Set 'active' class for the tab corresponding to the current status
            if (status === 'PRESENT') {
                document.getElementById('present').classList.add('active');
            } else if (status === 'ABSENT') {
                document.getElementById('absent').classList.add('active');
            } else {
                // Default to 'all' if no or unknown status
                document.getElementById('all').classList.add('active');
            }
        });
    </script>

{% endblock %}




