/* Light Theme */
body, 
.first-container, 
.fifth-grouped-div, 
.cs-div, 
.faq, 
.first-div-contact,
.second-grouped-div,
.quickly-div, 
.first-service-container,
.second-container, 
.third-container, 
.start-div, 
.flex-div, 
.person, 
.msg-div,
.longdiv,
.longdiv-mobile,
.grps-div, 
.event-div, 
.our-story,
.quickly-look-div,
.quickly-div,
.sixth-grouped-div, 
.comment-container {
    background-color: var(--white-Main, #ffffff);
    color: black;
}

.second-container, 
.third-container,  
.start-div, 
.flex-div, 
.first-container-abt,
.person, 
.faq,
.sixth-grouped-div, 
.comment-container, 
.giving-div, 
.help-container div, 
.help-container div a,  
.service-div, 
.form {
    background-color: var(--gray-Main, #F4F4F4);
    color: black;
}

