/* #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #555;
    z-index: 9999;
    backdrop-filter: blur(10px); 
}

.loader {
    width: 50px;
    height: 50px;
    display: flex;
    color: #514b82;
    background:
      linear-gradient(currentColor 0 0) right  /51% 100%,
      linear-gradient(currentColor 0 0) bottom /100% 51%;
    background-repeat: no-repeat;
    animation: l17-0 2s infinite linear .25s;
  }
  .loader::before{
    content:"";
    width: 50%;
    height: 50%;
    background: currentColor;
    transform-origin: 10% 10%;
    animation: l17-1 .5s infinite linear;
  }
  @keyframes l17-0 {
    0%   ,12.49% {transform: rotate(0deg)}
    12.5%,37.49% {transform: rotate(90deg)}
    37.5%,62.49% {transform: rotate(180deg)}
    62.5%,87.49% {transform: rotate(270deg)}
    87.5%,100%   {transform: rotate(360deg)}
  }
  @keyframes l17-1 {
    0%      {transform: perspective(80px) rotate3d(-1,1,0, 0)}
    80%,100%{transform: perspective(80px) rotate3d(-1,1,0,-360deg)}
  } */