@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


:root {
    --primary: #7F56D9;
    --secondary: #F4EBFF;
    --text-primary: #101828;
    --text-secondary: #667085;
    --badge-bg: #ECFDF3;
    --badge-text: #027A48;
    --base-shade-1: #00a8fa;
    --white-shade-1: #ffffff;
    --white-shade-2: #d7e1f3;
    --black-shade-1: #232323;
    --black-shade-2: #676a8b;
    --grad-color-1: 0, 180, 250;
    --grad-color-2: 21, 120, 255;
    --heading-font-size-1: 4rem;
     --heading-font-size-2: 3.2rem;
    --heading-font-size-3: 2rem;
    --heading-font-size-4: 1.8rem;

    --base-font-size: 1.6rem;
    --white: #fff;
    --dropdown-bg: rgb(252, 253, 251);
    --shadow: rgba(32, 7, 65, 0.14);
    --container: 110rem;
    --nav-height: 7rem;
}

html {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-style: normal;
}

body {
    font-size: 1.6rem;
}

/* Topbar */
.topbar{
	background-color:#fff;
	border-bottom:1px solid #eee;
}
.topbar{
	padding:15px 0;
}
.top-link{
	float:left;
}
.top-link li{
	display:inline-block;
	margin-right:15px;
}
.top-link li:last-child{
	margin-right:0px;
}
.top-link li a{
	color:#2C2D3F;
	font-size:14px;
	font-weight:400;
}.top-link li:hover a{
	color:#1A76D1;
}.top-contact{
	float:right;
}
.top-contact li{
	display:inline-block;
	margin-right:25px;
	color:#2C2D3F;
}
.top-contact li:last-child{
	margin-right:0;
}
.top-contact li a{
	font-size:14px;
}
.top-contact li a:hover{
	color:#1A76D1;
}
.top-contact li i{
	color:#1A76D1;
	margin-right:8px;
}

/* End topbar */


.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 1rem;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--nav-height);
    position: relative;
    background: var(--white);
}

.nav_list {
    display: inline-flex;
    gap: 2rem;
    align-items: center;
    margin: 0 1.5rem;
}

.nav_action {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.nav_link,
.btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-weight: 500;
    color: var(--text-primary);
}

.btn-primary {
    display: inline-flex;
    color: var(--white);
    background: var(--primary);
    font-weight: 500;
    padding: 0.6rem 1.5rem;
    border-radius: 1.5rem;
}

.nav_toggle {
    cursor: pointer;
    display: none;
}

.nav_toggle ion-icon {
    font-size: 3.5rem;
    color: var(--text-primary);
}

.dropdown {
    position: absolute;
    top: var(--nav-height);
    left: 0;
    width: 100%;
    background: var(--dropdown-bg);
    box-shadow: 0rem 0.2rem 0.5rem var(--shadow);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: all 0.5s ease-in;
}

.dropdown-inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.nav_list_menu:hover ion-icon {
    transition: all 0.5s ease-in;
    transform: rotate(180deg);
}

.nav_list_menu:hover .dropdown {
    clip-path: polygon(0 0, 100% 0, 100% 102%, 0 102%);
}

.item-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 3rem 0;
}

.item-img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
}

.item-list-info {
    position: relative;
    width: 100%;
}
.item-list-info p{
    font-size: 12px;
    color: black;
    text-wrap: wrap;
}

.info-badge {
    position: absolute;
    right: 1rem;
    top: 0;
    background: var(--badge-bg);
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    color: var(--badge-text);
}
/* End of header */
.containers {
    max-width: 127rem;
    margin: 0 auto;
    padding: 0 1rem;
    background: #E6F0FF;

}

.containers .hero_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1rem;
    align-items: center;
    padding: 4rem 0 0 0;
    margin-left: 2rem;
}
.containers .hero_container .hero_content .hero-title {
    color: #687690;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    
}
.containers .hero_container .hero_content .hero-heading {
    font-size: 4.2rem;
    line-height: 5.6rem;
    margin-bottom: 1rem;
}
.containers .hero_container .hero_content .paragraph {
    color: #5A6473;
    font-size: 1.5rem;
}
  .containers .hero_container .hero_image img {
    max-width: 50rem;
    width: 100%;
    height: auto;
}
.containers .btn {
    display: inline-block;
    margin-top: 3.5rem;
    padding: 0.8rem 2rem;
    border-radius: 0.8rem;
}
  
.containers .btn-primary {
    background: #0F1B4C;
    color: #ffffff !important;
    font-weight: 700;
}
  
@media (max-width:730px) {
    .nav_toggle {
        display: block;
    }
    .nav_menu {
        position: absolute;
        top: var(--nav-height);
        left: 0;
        width: 100%;
        background: var(--dropdown-bg);
        display: none;
    }
    .nav_menu.active {
        display: block;
    }
    .nav_list {
        display: block;
        margin: 2rem 0;
        text-align: center;
    }
    .nav_link {
        padding: 0 2rem;
        display: flex;
        justify-content: space-between;
    }
    .dropdown {
        top: 0;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        box-shadow: none;
        height: 0;
        text-align: start;
        transition: all 0.5s ease-in;
    }
    .nav_list_menu:hover .dropdown {
        height: 100%;
        transition: all 0.5s ease-in;
    }
}

@media (max-width:365px) {
    .logo-img {
        width: 10rem;
    }
    .btn,
    .btn-primary {
        padding: 0.4rem 1rem;
    }
}

@media (max-width: 893px) {
    .containers .hero_container .hero_content .hero-heading {
      font-size: 5.4rem;
      line-height: 5.8rem;
    }
  }
  @media (max-width: 700px) {
    .containers .hero_container .hero_content .hero-heading {
      font-size: 4rem;
      line-height: 4.6rem;
    }
  }
  @media (max-width: 668px) {
    #hero .hero_container {
      padding: 2rem 0;
      gap: 2rem;
    }
    #hero .hero_container .hero_content {
      grid-row: 2;
    }
    #hero .hero_container .hero_image {
      grid-row: 1;
    }
  }

  #partner {
    padding: 4rem 0;
  }
  #partner .partner-top {
    padding: 4rem 0 7rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  #partner .partner-top .text-light {
    margin-top: 1rem;
    color: #7d8589;
  }
  #partner .partner-bottom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    place-items: center;
    place-content: center;
  }
  #partner .partner-bottom div {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    border-radius: 0.3rem;
  }
  #partner .partner-bottom div img {
    width: 13rem;
    height: 3rem;
    object-fit: contain;
  }
  #partner .partner-bottom div:hover {
    transition: box-shadow 0.5s ease-in-out;
    box-shadow: 0 0 0.6rem 0.01rem rgba(163, 166, 171, 0.3);
  }
  
  /* Features */
  .section-subheading {
    color: var(--primary);
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .section-heading {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.2rem;
    color: var(--text-primary);
    padding: 2rem 0;
  }
  
  .paragraph {
    color: var(--text-secondary);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.9rem;
    padding: 1rem 0;
  }
  
  .btn {
    color: var(--primary);
    border-radius: 0.6rem;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }
  
 .btns-primary {
    padding: 0.6rem 2rem;
    background-color: var(--primary);
    color: var(--white);
  }
  
  .item-heading {
    font-size: 1.8rem;
    color: var(--text-primary);
    padding: 1rem 0;
  }
  
  .feature-container {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
  }
  
  .section-items {
    padding-top: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }
  
  .feature-img {
    width: 100%;
    height: 100%;
  }
  
  .feature-img img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width:659.5px) {
    .feature-img {
      grid-row: 1;
      text-align: center;
    }
    .feature-img img {
      max-width: 40rem;
      height: auto;
    }
  }
  
  @media (max-width:425px) {
    .feature-container {
      gap: 1rem;
    }
  }
  #featured-properties {
    padding: 6rem 0;
    background: #F5FAFE;
  }
  #featured-properties .featured-section-top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
  }
  #featured-properties .featured-section-bottom {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2.5rem;
  }
  #featured-properties .featured-section-bottom .featured-item {
    background: #ffffff;
    border-radius: 0.9rem;
  }
  #featured-properties .featured-section-bottom .featured-item .featured-img {
    width: 100%;
  }
  #featured-properties .featured-section-bottom .featured-item .content-wrapper {
    padding: 1.5rem;
  }
  #featured-properties .featured-section-bottom .featured-item .content-wrapper h3{
    align-items: center;
    margin: 1rem;
  }
  #featured-properties .featured-section-bottom .featured-item .content-wrapper.text-light {
    padding: 1rem 0 0 0;
  }
  #featured-properties .featured-section-bottom .featured-item .content-wrapper .deatils-short {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
  }
  @media (max-width: 563px) {
    #featured-properties .featured-section-bottom .featured-item .content-wrapper .deatils-short {
      gap: 1rem;
    }
  }
  #featured-properties .featured-section-bottom .featured-item .content-wrapper .deatils-short div {
    display: flex;
    gap: 1rem;
  }
  #featured-properties .featured-section-bottom .featured-item .content-wrapper .deatils-short div img {
    width: 1.8rem;
  }
  
  #feature-two {
    padding: 6rem 0;
  }
  #feature-two .found-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
    justify-content: center;
    align-items: center;
  }
  #feature-two .found-container .found-content .section-heading {
    position: relative;
  }
  #feature-two .found-container .found-content .section-heading::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 4rem;
    height: 0.4rem;
    background: #000339;
    border-radius: 0.4rem;
  }
  @media (max-width: 648px) {
    #feature-two .found-container div:nth-child(1) {
      margin: 0 auto;
    }
  }
  #feature-two .found-container img {
    width: 40rem;
  }
  @media (max-width: 920px) {
    #feature-two .found-container img {
      width: 100%;
    }
  }
  @media (max-width: 648px) {
    #feature-two .found-container img {
      width: 30rem;
    }
  }
  #feature-two .counter-container {
    padding: 4rem 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    justify-items: center;
    gap: 2rem;
  }
  #feature-two .counter-container .counter {
    text-align: center;
  }
  #feature-two .counter-container .counter .text-dark {
    font-size: 6.4rem;
    font-weight: 600;
  }
  @media (max-width: 824px) {
    #feature-two .counter-container .counter .text-dark {
      font-size: 4.5rem;
    }
  }
  @media (max-width: 627px) {
    #feature-two .counter-container .counter .text-dark {
      font-size: 4rem;
    }
  }
  #feature-two .counter-container .counter span {
    color: #7b8087;
    font-size: 1.8rem;
    font-weight: 500;
  }

/* Pricing section */
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#D5A3FF 0%, #77A5F8 100%);
}
.wrapper{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .wrapper .table{
    background: #fff;
    width: calc(33% - 20px);
    padding: 30px 30px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  .table .price-section{
    display: flex;
    justify-content: center;
  }
  .table .price-area{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
  }
  .price-area .inner-area{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    line-height: 117px;
    text-align: center;
    color: #fff;
    position: relative;
  }
  .price-area .inner-area .text{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    top: -10px;
    left: 17px;
  }
  .price-area .inner-area .price{
    font-size: 45px;
    font-weight: 500;
    margin-left: 16px;
  }
  .table .package-name{
    width: 100%;
    height: 2px;
    margin: 35px 0;
    position: relative;
  }
  .table .package-name::before{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 25px;
    font-weight: 500;
    background: #fff;
    padding: 0 15px;
    transform: translate(-50%, -50%);
  }
  .table .features li{
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .features li .list-name{
    font-size: 17px;
    font-weight: 400;
  }
  .features li .icon{
    font-size: 15px;
  }
  .features li .icon.check{
    color: #2db94d;
  }
  .features li .icon.cross{
    color: #cd3241;
  }
  .table .btnss{
    width: 100%;
    display: flex;
    margin-top: 35px;
    justify-content: center;
  }
  .table .btnss button{
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .table .btnss button:hover{
    border-radius: 5px;
  }
  .basic .features li::selection{
    background: #ffd861;
  }
  .basic ::selection,
  .basic .price-area,
  .basic .inner-area{
    background: #ffd861;
  }
  .basic .btnss button{
    border: 2px solid #ffd861;
    background: #fff;
    color: #ffd861;
  }
  .basic .btnss button:hover{
    background: #ffd861;
    color: #fff;
  }
  .premium ::selection,
  .premium .price-area,
  .premium .inner-area,
  .premium .btnss button{
    background: #a26bfa;
  }
  .premium .btnss button:hover{
    background: #833af8;
  }
  .ultimate ::selection,
  .ultimate .price-area,
  .ultimate .inner-area{
    background: #43ef8b;
  }
  .ultimate .btnss button{
    border: 2px solid #43ef8b;
    color: #43ef8b;
    background: #fff;
  }
  .ultimate .btnss button:hover{
    background: #43ef8b;
    color: #fff;
  }
  .basic .package-name{
    background: #ffecb3;
  }
  .premium .package-name{
    background: #d0b3ff;
  }
  .ultimate .package-name{
    background: #baf8d4;
  }
  .basic .package-name::before{
    content: "Basic";
  }
  .premium .package-name::before{
    content: "Premium";
    font-size: 24px;
  }
  .ultimate .package-name::before{
    content: "Ultimate";
    font-size: 24px;
  }
  @media (max-width: 1020px) {
    .wrapper .table{
      width: calc(50% - 20px);
      margin-bottom: 40px;
    }
  }
  @media (max-width: 698px) {
    .wrapper .table{
      width: 100%;
    }
  }
  ::selection{
    color: #fff;
  }
  .table .ribbon{
    width: 150px;
    height: 150px;
    position: absolute;
    top: -10px;
    left: -10px;
    overflow: hidden;
  }
  .table .ribbon::before,
  .table .ribbon::after{
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    border: 7px solid #4606ac;
    border-top-color: transparent;
    border-left-color: transparent;
  }
  .table .ribbon::before{
    top: 0px;
    right: 15px;
  }
  .table .ribbon::after{
    bottom: 15px;
    left: 0px;
  }
  .table .ribbon span{
    position: absolute;
    top: 30px;
    right: 0;
    transform: rotate(-45deg);
    width: 200px;
    background: #a26bfa;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12);
  }
  
/* End pricing section */

  /* support section */
.rowss {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.column {
    width: 100%;
}

.section-desc {
    text-align: center;
    margin: 2rem 0 6rem 0;
}

.featured .rowss {
    align-items: stretch;
}

.featured .column {
    padding: 3rem 2rem;
    border-radius: 1rem;
}
.featured h2{
    font-size: 2.5rem;
    color: var(--text-primary);
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}

.featured .column p {
    text-align: center;
    color: var(--text-secondary);
}
.featured h3 {
    margin: 3rem 0;
    font-size: 2rem;
    color: var(--text-primary);
    font-weight: 700;
    margin: 1.5rem 0;
    text-align: center;
}
.featured i {
    display: block;
    height: 6rem;
    width: 6rem;
    margin: 0 auto;
    font-size: 3.5rem;
    background-color: var(--base-shade-1);
    color: var(--white-shade-1);
    padding: 1.3rem 0;
    text-align: center;
    border-radius: var(--border-radius-2);
}
.featured .column:hover {
    background-color: #E6F0FF;
}
.featured .column:hover h3 {
    color: black;
}
.featured .column:hover p {
    color: black;
}
.featured .column:hover i {
    background-color: var(--white-shade-1);
    color: var(--base-shade-1);
}
  /* End of support section */

  /*------ Section: Testimonials ------*/
  .testimonial {
    background-image: linear-gradient(
        45deg,
        rgba(var(--grad-color-1), 0.8),
        rgba(var(--grad-color-2), 0.8)
      ),
      url(images/testimonial-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .testimonial h2,
  .testimonial .section-desc {
    color: var(--white-shade-1);
    
  }
  .testimonial h2 {
    font-size: var(--heading-font-size-2);
    color: var(--black-shade-1);
    font-weight: 700;
    text-align: center;
    margin-top: 4rem;
}
  .testimonial .rowss {
    align-items: stretch;
  }
  .testimonial .column {
    background-color: var(--white-shade-1);
    padding: 4rem 2rem;
    text-align: center;
    border-radius: var(--border-radius-1);
    display: flex;
    flex-direction: column;
  }
  .testimonial-image {
    height: 14rem;
    width: 14rem;
    margin: auto;
    padding: 0.9rem;
    background: linear-gradient(
      var(--white-shade-1) 50%,
      var(--base-shade-1) 50%
    );
    border-radius: 50%;
  }
  .testimonial-image img {
    width: 100%;
    border-radius: 50%;
  }
  .testimonial .column p {
    margin: 2rem 0;
    flex-grow: 1;
  }
@media only screen and (max-width: 991px) {
    .rowss {
      flex-direction: column;
    }
  }
  
@media only screen and (max-width: 575px) {
    .featured .column {
      padding: 4rem 2rem;
    }
    
  }

  /* End testimonial */
  .container-f{
	max-width: 1170px;
	margin:auto;
}
.row-f{
	display: flex;
	flex-wrap: wrap;
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
    
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer ul{
	list-style: none;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}
/* Signup */
.alls{
  min-height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #7083b6;
}
.signup{
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 600px;
}

.signup p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.signup span{
  font-size: 12px;
}

.signup a{
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.signup button{
  background-color: #512da8;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 10px 45px;
  margin-top: 10px;
  cursor: pointer;
}

.signup button a{
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.signup button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.signup form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.signup input{
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.social-icons{
  margin: 20px 0;
}

.social-icons a{
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.signup.active .toggle-container{
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle{
  background-color: #512da8;
  height: 100%;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}
.toggle-right h1{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.toggle-right p{
  color: var(--white-shade-1);
}

@media(max-width: 767px) {
  .toggle{
    visibility: collapse;
  }

  .signup{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 750px;
    
  }
    .form-container{
      position: absolute;
      margin-left: 50px;
    }

  .signup form{
    background-color: #fff;
    display: flex;
    margin-left: 40px;
  }
 
  .signup span{
    font-size: 18px;
    display: block;
  }

  .signup .social-icons{
    display: inline-flex;
  }
  
  .signup .social-icons a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 0 10px;
  }

  .signup input{
    background-color: #eee;
    border: none;
    margin-left: 30px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 350px;
    outline: none;
    z-index: 5;
  }
}
@media(max-width: 410px){
  .toggle{
    visibility: collapse;
  }

  .signup{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 750px;
    
  }
    .form-container{
      position: absolute;
      margin-left: 50px;
    }

  .signup form{
    background-color: #fff;
    display: flex;
    margin-left: 40px;
  }
 
  .signup span{
    font-size: 18px;
    display: block;
  }
  
  .signup .social-icons{
    display: inline-flex;
  }
  
  .signup .social-icons a{
    color: #333;
    font-size: 18px;
    text-decoration: none;
    margin: 10px 0 10px;

  }

  .signup input{
    background-color: #eee;
    border: none;
    margin-left: 30px;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 350px;
    outline: none;
    z-index: 5;
  } 
}
